<div class="container-fluid rounded">
    <br>
    <div class="row rounded">
        <h1 class="text-center">All Petrol Logs for {{today|date}}</h1>
        <div class="col-lg-6 rounded padding-2">
            <div class="bg-light shadow padding-2">
                <h2 class="text-center">General</h2>
            <h6 class="text-center">{{petrol_info.pumps}} <span>pumps</span></h6>
         
            
            <button *ngIf="!pOneHidden" (click)="maximize()" class="btn btn-md btn-dark btn-outline-info margin">Pump One</button><button *ngIf="!pTwoHidden" (click)="maximize2()" class="btn btn-md btn-dark btn-outline-info margin">Pump Two</button> 
            <button *ngIf="!pThreeHidden" (click)="maximize3()" class="btn btn-md btn-dark btn-outline-info margin">Pump Three</button><button *ngIf="!pFourHidden" (click)="maximize4()" class="btn btn-md btn-dark btn-outline-info margin">Pump Four</button>
            <div>
                <br>
                <div *ngIf="!pOneHidden">
                    <div *ngIf="!minimized" id="">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-5">
                                <span (click)="close()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <app-petrol-pump-one></app-petrol-pump-one>
                    </div>
                    <br>
                </div>
                <div *ngIf="!pTwoHidden">
                    <div *ngIf="!minimized2" id="">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-5">
                                <span (click)="close2()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                            
                        <app-petrol-pump-two></app-petrol-pump-two>
                    </div>
                    <br>
                </div>
                <div *ngIf="!pThreeHidden">
                    <div *ngIf="!minimized3"  id="">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-5">
                                <span (click)="close3()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <app-petrol-pump-three></app-petrol-pump-three>
                    </div>
                    <br>
                </div>
                <div *ngIf="!pFourHidden">
                    <div *ngIf="!minimized4" id="">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-5">
                                <span (click)="close4()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <app-petrol-pump-four></app-petrol-pump-four>
                    </div>
                    <br>
                </div>
                
                
                
                
            </div>
            </div>
            </div>
            
        <div class="col-lg-6 full-height rounded black padding-2">
            <div class="bg-light shadow rounded padding-2">
                <h2 class="text-center">Mpesa</h2>
            <div>
                <app-mpesa-logs></app-mpesa-logs>
            </div>
           
            </div>
            
        </div>

        
    </div>   
</div>
<app-footer></app-footer>