<div class="card margin-top bg-light">
  <div class="card-body" >
    <h4 class="card-title text-center"> Mpesa <i class="fa-solid fa-mobile-button"></i></h4>
      <div class="table-responsive color-two rounded">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"><i class="fa-solid fa-hashtag"></i></th>
                  <th scole="col">Date</th>
                  <th scope="col">Transaction no.</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Bank amount</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody *ngFor="let mpesa of mpesa | paginate: { id:'mpesaPage', itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                <tr>
                  <td>{{mpesa.id}}</td>
                  <td>{{mpesa.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{mpesa.transaction_number}}</td>
                  <td>{{mpesa.amount}}</td>
                  <td>{{mpesa.amount_transferred_to_bank}}</td>
                  <td><a type="button" class="btn btn-dark btn-outline-info btn-sm" routerLink="/mpesa-details/{{mpesa.id}}">Details</a></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls
                id="mpesaPage"
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
              >
              </pagination-controls>
            </div>
      </div>
</div>
