<div class="container">
    <div *ngIf="!hideContent">
        <h2>All Contacts</h2> 
        <div *ngIf="contacts">
            <hr>
            <p *ngFor="let c of contacts" type="button" class="text-primary" (click)="copy(c.id);edit();">{{c.id}}. {{c.your_name}}</p>
            <hr>
            <p class="text-muted">{{contacts.length}} contacts. Click a contact to edit it.</p>
        </div>
        <div *ngIf="!contacts">
            <p class="text-muted">0 contacts.</p>
        </div>
        <hr>
    </div>
    
    <div *ngIf="showEdit">
        <span type="button" (click)="close();"><i class="fa-solid fa-chevron-left"></i> Back</span>
        <app-edit-contact [reset]="reset" [openContact]="openContact" [reload]="reload" [id]="selected" [admins]="admins"></app-edit-contact>
    </div>
</div>