<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <form #editFuelRcvdForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="editItem(editFuelRcvdForm.value)" id="editFuelRcvdForm">
              <h5>Edit {{details.fuel}} Received Details <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span></h5>  
              <div class="hide">
                  <mat-form-field class="w-75" appearance="fill">
                      <mat-label>Fuel Type </mat-label>
                      <input type="text" ngModel matInput name="fuel" [(ngModel)]="details.fuel">
                    </mat-form-field>
              </div><br>
           
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Litres Received </mat-label>
                  <input matInput type="number" name="litres" #litres="ngModel" ngModel required [(ngModel)]="details.litres">
                  <mat-error *ngIf="litres.hasError('required') || litres.pristine">
                    Litres received is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Received From </mat-label>
                  <input matInput type="text" name="in_from" #in_from="ngModel" ngModel required [(ngModel)]="details.in_from">
                  <mat-error *ngIf="in_from.hasError('required') || in_from.pristine">
                    Received from value is <strong>required</strong>
                  </mat-error>
              </mat-form-field><br>
            
            <mat-form-field class="w-75" appearance="fill">
                <mat-label>Date Received </mat-label>
                  <input matInput type="date" name="date" #date="ngModel" ngModel required [(ngModel)]="details.date">
                  <mat-error *ngIf="date.hasError('required') || date.pristine">
                    Date Received is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
             
                
                <div class="form-group bg-light">
                  <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="editFuelRcvdForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="editFuelRcvdForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="editFuelRcvdForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
              </div>
                
          </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>