<div class="container">
  <form #editAnnounceForm="ngForm" class="bg-light rounded padding-2 shadow" (ngSubmit)="editAnnouncement(editAnnounceForm.value)" id="editAnnounceForm">
    <h5>Edit Announcement <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span></h5>  
    <br>  
    <mat-form-field appearance="outline">
      <mat-label>Subject </mat-label>
      <input matInput type="text" name="subject" #subject="ngModel" ngModel [(ngModel)]="details.subject" required>
      <mat-error *ngIf="subject.hasError('required') || subject.pristine">
        Subject is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Announcement </mat-label>
      <textarea matInput type="text" name="announcement" #announcement="ngModel" ngModel required [(ngModel)]="details.announcement" minlength="120" maxlength="2500"></textarea>
      <mat-error *ngIf="announcement.hasError('required') || announcement.pristine">
        Announcement is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="announcement.hasError('minlength')">
        Announcement should be <strong>at least 120 characters</strong>
      </mat-error>
      <mat-error *ngIf="announcement.hasError('maxlength')">
        Announcement should <strong>not exceed 2,500 characters</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Date </mat-label>
      <input matInput type="text" name="date" #date="ngModel" ngModel [(ngModel)]="details.date" required>
      <mat-error *ngIf="date.hasError('required') || date.pristine">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Announced By</mat-label>
      <input matInput name="announced_by" ngModel #announced_by="ngModel" type="text" [(ngModel)]="details.announced_by" required>
      <mat-error *ngIf="announced_by.hasError('required') || announced_by.pristine">
        This field is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp; 
    <mat-form-field appearance="outline">
      <mat-label>Select Your User Id </mat-label>
      <mat-select name="user_id" ngModel #user_id="ngModel" >
        <mat-option *ngFor="let a of admins" [(ngModel)]="details.user_id"  value="{{a.id}}" name="user_id" ngModel #user_id="ngModel" type="number">{{a.username}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group bg-light">
      <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="editAnnounceForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="editAnnounceForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="editAnnounceForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
    </div>
  </form>
</div>
