<div class="container">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/benie/image/upload/v1662904979/pistol-160119_1280_bbtxbm.png" height="650" width="auto" class="d-block w-100 carousel-landing" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark opacityT">
              <h5 class="white">About LogOnGo</h5>
              <p class="white">
                LoOnGo is a petrol station management app for:
                <span>
                    <ul>
                        <li class="white">adding</li>
                        <li class="white">viewing</li>
                        <li class="white">updating</li>
                        <li class="white">deleting</li>
                    </ul>
                </span> 
                log records
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/benie/image/upload/v1662907281/no-admittance-98740_1280.3_yhsrnt.png" height="650" width="auto" class="d-block w-100 carousel-landing" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark opacityT white">
              <h5 class="white">Who will use LogOnGo?</h5>
              <p class="white">Only employees and the administration of <strong class="white">Pebo Kenya Ltd</strong> are authorized to use the app.</p>
              <p class="bg-danger white bold">You cannot register for an account if you are none of the above.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/benie/image/upload/v1662904323/emoticon-1610228_mrmoig.png" height="650" width="auto" class="d-block w-100 carousel-landing" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark opacityT white">
              <h5 class="white">Setting things up...</h5>
              <ul>
                <li class="white">Step 1: <a routerLink="register">Register</a> for an employee account.</li>
                <li class="white">Step 2: <a routerLink="login">Log in</a> to your new account. </li>
                <li class="white">Step 3: Record the day's logs... </li>
                <li class="white">or view your profile page.</li>
                <li class="white">Watch out for announcements on your profile page.</li>
                <li class="white">Please report any incidents through the platform.</li>
                <li class="white">You can also contact management in a few clicks. </li>
              </ul>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>