<div class="container-fluid center font-md-2" id="landing-bg">
  <!-- <img src="" height="250" width="auto" class="carousel-landing" alt="..."> -->
  <div>
    <div class="row padding">
      <div class="col-md-4 shadow">
        <h1 class="padding">About LogOnGo <span><img src="https://res.cloudinary.com/benie/image/upload/v1662904979/pistol-160119_1280_bbtxbm.png" height="40" width="50"></span></h1>
        <div class="bg-light padding-2 shadow">
          <p>
            LogOnGo is a petrol station management app.
          </p>
        </div>
        <br>
        <div class="bg-light padding-2 shadow">
          <p>You can: 
            <span>
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <p>add <span><mat-icon>add_circle</mat-icon></span></p>
                  </div>
                  <div class="col">
                   <p>view <span><mat-icon>visibility</mat-icon></span></p>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col"></div>
                  <div class="col">
                    <p>edit <span><mat-icon>edit</mat-icon></span></p>
                  </div>
                  <div class="col">
                    <p>delete <span><mat-icon>delete</mat-icon></span></p>
                  </div>
                  <div class="col"></div>
                </div>
            </span>
            log records.
          </p>
        </div>
              
      </div>
      <div class="col-md-4 shadow rounded">
        
              <h2 class="padding">Who will use it? <img src="https://res.cloudinary.com/benie/image/upload/v1662907281/no-admittance-98740_1280.3_yhsrnt.png" height="40" width="50" alt="..."></h2>
              <div class="shadow color-two rounded padding-2">
                <p>Only employees and the administration of <strong class="">Pebo Kenya Ltd</strong> are authorized to use the app.</p>
                <img src="https://res.cloudinary.com/benie/image/upload/v1662906445/sign-3228713_1280_dexd3b.png" height="65" width="60" alt="">
                <p class="bg-danger white bold rounded">You cannot register for an account if you are none of the above.</p>
              </div>
              <div>
                
              </div>
      </div>
      <div class="col-md-4 shadow">
        <h3 class="padding">Setting things up... <img src="https://res.cloudinary.com/benie/image/upload/v1662904323/emoticon-1610228_mrmoig.png" height="40" width="50" alt="..."></h3>
        <div class="bg-light shadow rounded">
          <p><span><mat-icon>check</mat-icon></span>Step 1: <a routerLink="/register" type="button" class="btn btn-sm margin-bottom btn-info btn-outline-dark">Register</a> for an employee account.</p>
        </div>
        <div class="bg-light shadow rounded">
          <p><span><mat-icon>check</mat-icon>Step 2: <a routerLink="/login" type="button" class="btn btn-sm margin-bottom btn-info btn-outline-dark">Log in</a> to your new account. </span></p>
        </div>
        <br>
        <div class="bg-light shadow rounded">
          <p><span><mat-icon>check</mat-icon>Step 3: Record the day's logs...</span></p>
          <p><span><mat-icon>check</mat-icon>or view your profile page.</span></p>
        </div>
      </div>
      
    </div>
  </div>
</div>
<app-footer></app-footer>