<div class="container-fluid shadow rounded color-two">
    <div class="row shadow rounded">
        <h1 class="text-center">{{today|date}}</h1>
        <h2>Summary</h2>
        
        <div class="border full-height shadow color-one rounded black padding-2">
            <div class="card color-two">
                <h5 class="card-header">Initial tank amount: <span id="initial" >{{info.initial_litres_in_tank}}</span> Lts <span><button class="btn btn-sm btn-light btn-outline-info" onclick="toggleUpdatePetrolAmount()"><img type="button" src="https://res.cloudinary.com/benie/image/upload/v1661103475/383147_edit_icon_hixt9z.png" height="20" width="20" alt=""></button> <span id="updatePetrolAmountForm">
                    <form  id="initUpdateForm" #initUpdateForm="ngForm" class="form margin-top" (ngSubmit)="updatePetrolInfo(initUpdateForm.value)">
                        <div class="form-group hide">
                            <input type="text" id="fuel_type" ngModel #fuel_type="ngModel" name="fuel_type" placeholder="fuel type" class="form-control" [(ngModel)]="info.fuel_type"> 
                            <input type="number" id="price_per_litre" ngModel #price_per_litre="ngModel" name="price_per_litre" placeholder="PP" class="form-control" [(ngModel)]="info.price_per_litre">
                            <input type="number" ngModel id="#pumps" #pumps="ngModel" name="pumps" placeholder="pumps" class="form-control" [(ngModel)]="info.pumps">
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="number" ngModel id="initial_litres_in_tank" #initial_litres_in_tank="ngModel" class="form-control" name="initial_litres_in_tank" placeholder="initial tank amount" required [(ngModel)]="info.initial_litres_in_tank">
                                <div [hidden]="initial_litres_in_tank.valid || initial_litres_in_tank.pristine" class="alert margin-top2p5 alert-danger">
                                    <p>Amount required</p>
                                </div>
            
                                <div class="form-group">
                                    <button type="submit" onclick="toggleUpdatePetrolAmount()" class="btn btn-sm btn-dark btn-outline-info margin-top2p5">Update</button>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>  
                    </form></span></span> <span class="float-right margin-top">Pumps: <span id="pumpNo">{{info.pumps}}</span>  <span>&nbsp;<button class="btn btn-sm btn-light btn-outline-info" onclick="toggleUpdatePetrolPumps()"> <img class="" type="button" src="https://res.cloudinary.com/benie/image/upload/v1661103475/383147_edit_icon_hixt9z.png" height="20" width="20" alt=""></button> <span id="updatePetrolPumpsForm">
                        <form #pumpsUpdateForm="ngForm" class="form margin-top" (ngSubmit)="updatePetrolInfo(pumpsUpdateForm.value)">
                            <div class="form-group hide">
                                <input type="text" id="fuel_type" ngModel #fuel_type="ngModel" name="fuel_type" placeholder="fuel type" class="hide form-control" [(ngModel)]="info.fuel_type"> 
                                <input type="number" id="price_per_litre" ngModel #price_per_litre="ngModel" name="price_per_litre" placeholder="PP" class="hide form-control" [(ngModel)]="info.price_per_litre">
                                <input type="number" ngModel id="initial_litres_in_tank" #initial_litres_in_tank="ngModel" class="form-control hide" name="initial_litres_in_tank" placeholder="initial tank amount" [(ngModel)]="info.initial_litres_in_tank">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="number" ngModel id="#pumps" #pumps="ngModel" name="pumps" placeholder="pumps" class="form-control" [(ngModel)]="info.pumps" required>
                                    <div [hidden]="pumps.valid || pumps.pristine" class="alert margin-top2p5 alert-danger">
                                        <p>Pumps required</p>
                                    </div>
                        
                                    <div class="form-group">
                                        <button type="submit" onclick="toggleUpdatePetrolPumps()" class="btn btn-sm btn-dark btn-outline-info margin-top2p5">Update</button>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>  
                        </form>
                </span> </span> </span> </h5>
            </div>
            <div class="card color-two" *ngIf="logs.id">
                <h5 class="card-header">Tank balance yesterday: <span id="bal0">{{logs.balance_yesterday}}</span> Lts <br> <span class="float">Latest balance today: <span *ngIf="logs.updated_balance else elseBlockTank">{{logs.updated_balance}} <span>Lts</span></span> <span><div><ng-template #elseBlockTank>{{logs.balance}}</ng-template></div> </span></span></h5>
            </div>
            <div>
                <app-petrol-received></app-petrol-received>
            </div>
            
    </div>   
</div>