<div class="container-fluid color-two" onload="myTotal();amountToday();getBal();getBalHome();myPumps();">
    <div class="row">
        <h1 class="text-center">All Petrol Logs for {{date}}</h1>
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            <app-initial-amount></app-initial-amount>
            <app-new-bal></app-new-bal>
            <div id="petrol-two" *ngIf="logs_two; else elseBlock2">
                <div>
                    <app-log-card></app-log-card>
                </div>  
            </div>
            <div>
                <ng-template #elseBlock2>
                    <app-no-logs></app-no-logs>
                </ng-template>
            </div>
            <div id="petrol-three" *ngIf="logs_three; else elseBlock3">
                <div>
                    <app-log-card></app-log-card>
                </div>  
            </div>
            <div>
                <ng-template #elseBlock3>
                    <app-no-logs></app-no-logs>
                </ng-template>
            </div>
            <div id="petrol-four" *ngIf="logs_four; else elseBlock4">
                <div>
                    <app-log-card></app-log-card>
                </div>  
            </div>
            <div>
                <ng-template #elseBlock4>
                    <app-no-logs></app-no-logs>
                </ng-template>
            </div>

            <div>
                <app-petrol-received></app-petrol-received>
                <div id="fuelRecvdForm" class="rounded color-two padding margin"><br>
                    <h2 class="text-center margin-top">Add Petrol Received information</h2> 
                    <app-petrol-received-form></app-petrol-received-form>
                </div>
            </div>
            <div id="petrol-one" *ngIf="logs else elseBlock">
                <div class="card color-two">
                    <h4 class="card-header">{{logs.date}} <span class="float-right smaller margin-top"><h6>price per litre: Ksh. <span id="price">{{info.price_per_litre}}</span> <span><button class="btn margin-bottom-two btn-sm btn-light btn-outline-info" onclick="toggleUpdatePetrolPrice()"><img type="button" src="https://res.cloudinary.com/benie/image/upload/v1661103475/383147_edit_icon_hixt9z.png" height="17.5" width="17.5" alt=""></button> <span id="updatePetrolPriceForm"><app-priceperlitre-update-form></app-priceperlitre-update-form></span> </span></h6></span></h4>
                    <div class="card-body">
                        <h5 class="card-title">Logs</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">EOD Reading Today</th>
                                    <th scope="col">EOD Reading Yesterday</th>
                                    <th scope="col">Total litres sold today</th>
                                    <th scope="col">Amount earned today</th>
                                    <th scope="col">Get balance</th>
                                    <th scope="col">Balance (lts)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td id="tester-today">{{logs.eod_reading_lts}}</td>
                                    <td id="tester-yesterday">{{logs.eod_reading_yesterday}}</td>
                                    <td id="total-today"></td>
                                    <td id="amount-today"></td>
                                    <td id="" name=""><span> <app-bal-form></app-bal-form> </span> <span></span></td>
                                    <td id="">{{logs.balance}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="">Logged by {{logs.user.username}} | <a type="button" class="btn btn-sm btn-dark btn-outline-primary" href="">Details</a> </small>
                    </div>
                </div>
            </div>
            <div>
                <ng-template #elseBlock>
                 <app-no-logs></app-no-logs>
                </ng-template> 
             </div>
        </div>    

        <div class="col-md-6 full-height color-four rounded black padding-2 border">
            <h2 class="text-center">Mpesa</h2>
            <div *ngIf="mpesa_logs else elseBlockMpesa">
                <app-mpesa-logs></app-mpesa-logs>
            </div>
            <div>
                <ng-template #elseBlockMpesa>
                    <app-no-mpesalogs></app-no-mpesalogs>
                </ng-template>
            </div>
        </div>
    </div>   
</div>