<div class="bg-light shadow rounded color-two">
    <p class="aloha font-md text-center">D<span class="font-md">iesel</span> <i class="fa-solid fa-bolt"></i></p>
</div>
<div>
    <p class="bg-light padding-2 rounded">
        <span>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-water"></i> Initial_litres <br> <span><h1>{{dieselSummary.initial_litres_in_tank}} <span class="x-small">Lts</span></h1></span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-hand-holding-dollar"></i> Price per litre <br> <span><h1><span class="x-small">Ksh</span> {{dieselSummary.price_per_litre}}</h1></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-gas-pump"></i> Pumps <br> <span><h1>{{dieselSummary.pumps}}</h1></span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-arrow-up-from-ground-water"></i> Balance <br> <span><h1>{{dieselSummary.updated_balance}} <span class="x-small">Lts</span></h1></span>
                </div>
            </div>
        </span>
    </p>
</div>