<div class="container-fluid color-two" onload="myTotal();amountToday();getBal();getBalHome();myPumps();">
    <br><br><br>
    <div class="row">
        <h1 class="text-center">All Diesel Logs for {{date}}</h1>
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            <app-initial-amount></app-initial-amount>
            <app-new-bal></app-new-bal>

               <app-diesel-received></app-diesel-received>
               <div id="fuelRecvdForm" class="rounded color-two padding margin"><br>
                <h2 class="text-center margin-top">Add Diesel Received information</h2> 
                <app-diesel-received-form></app-diesel-received-form>
                </div>
            <div id="diesel-one">
                
            <div>
                <ng-template #elseBlockMpesa>
                    <app-no-mpesalogs></app-no-mpesalogs>
                </ng-template>
            </div>
        </div>
        <button onclick="togglePumpOne()">Pump One</button><button onclick="togglePumpTwo()">Pump Two</button> <br>
            <button onclick="togglePumpThree()">Pump Three</button><button onclick="togglePumpFour()">Pump Four</button>
            <div>
                <div id="petrolPumpOne">
                    <app-diesel-pump-one></app-diesel-pump-one>
                    <app-add-diesel-pump-one></app-add-diesel-pump-one>
                </div>
                <div id="petrolPumpTwo">
                    <app-diesel-pump-two></app-diesel-pump-two>
                    <app-add-diesel-pump-two></app-add-diesel-pump-two>
                </div>
                <div id="petrolPumpThree">
                    <app-diesel-pump-three></app-diesel-pump-three>
                    <app-add-diesel-pump-three></app-add-diesel-pump-three>
                </div>
                <div id="petrolPumpFour">
                    <app-diesel-pump-four></app-diesel-pump-four>
                    <app-add-diesel-pump-four></app-add-diesel-pump-four>
                </div>
            </div>
           
       
        
        
    </div>
    <br><br><br><br><br>
    
    

    
    

    
</div>