<div class="container-fluid color-two" onload="myTotal();amountToday();getBal();getBalHome();myPumps();">
    <br><br><br>
    <div class="row">
        <h1 class="text-center">All Diesel Logs for {{date}}</h1>
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            <app-initial-amount></app-initial-amount>
            <app-new-bal></app-new-bal>
            <div id="diesel-two">
                {%if diesel_logs_2%}
                {%for diesel_logs in diesel_logs_2%}
                <app-log-card></app-log-card>
               {%endfor%}
               {% else %} 
            <app-no-logs></app-no-logs>
            {%endif%}
            </div>
            <div id="diesel-three">
                {%if diesel_logs_3%}
                {%for diesel_logs in diesel_logs_3%}
                <app-log-card></app-log-card>
               {%endfor%}
               {% else %} 
               <app-no-logs></app-no-logs>
            {%endif%}
            </div>
            <div id="diesel-four">
                {%if diesel_logs_4%}
                {%for diesel_logs in diesel_logs_4%}
                <app-log-card></app-log-card>
               {%endfor%}
               <app-diesel-received></app-diesel-received>
               <div id="fuelRecvdForm" class="rounded color-two padding margin"><br>
                <h2 class="text-center margin-top">Add Diesel Received information</h2> 
                <app-diesel-received-form></app-diesel-received-form>
                </div>
               {% else %} 
               <app-no-logs></app-no-logs>
            {%endif%}
            </div>
            <div id="diesel-one">
                {%if diesel_logs%}
                <div class="card color-two">
                    <h4 class="card-header">{{diesel_logs.date}} <span class="float-right smaller margin-top"><h6>price per litre: Ksh. <span id="price">{{diesel_info.price_per_litre}}</span> <span><button class="btn margin-bottom-two btn-sm btn-light btn-outline-info" onclick="toggleUpdateDieselPrice()"><img type="button" src="https://res.cloudinary.com/benie/image/upload/v1661103475/383147_edit_icon_hixt9z.png" height="17.5" width="17.5" alt=""></button> <span id="updateDieselPriceForm"><form class="" action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{%csrf_token%}{{update_price_form}} <input type="submit" class="btn btn-sm btn-dark btn-outline-info" value="Update"></form></span> </span></h6></span></h4>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">EOD Reading Today</th>
                                    <th scope="col">EOD Reading Yesterday</th>
                                    <th scope="col">Total litres sold today</th>
                                    <th scope="col">Amount earned today</th>
                                    <th scope="col">Get balance</th>
                                    <th scope="col">Balance (lts)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                      <td id="tester-today">{{diesel_logs.eod_reading_lts}}</td>
                                      <td id="tester-yesterday">{{diesel_logs.eod_reading_yesterday}}</td>
                                    <td id="total-today"></td>
                                    <td id="amount-today"></td>
                                    <td id="" name=""><span><form class="padding margin-top" action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{%csrf_token%}<input type="number" class="hide" id="bal" name="balance" class="">{%if yesterday_diesel_logs%}<input type="number" name="balance_yesterday" class="hide" value="{{yesterday_diesel_logs.balance}}" >{%endif%}{%if diesel_received%}<input type="submit" class="btn btn-sm btn-outline-info btn-dark" value="Update bal" onclick="">{%else%}<input type="submit" class="btn margin btn-sm btn-outline-primary btn-dark" value="Calculate" onclick="">{%endif%}</form> </span> <span></span></td>
                                    <td id="">{{diesel_logs.balance}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="">Logged by {{diesel_logs.user.username}} | <a type="button" class="btn btn-sm btn-dark btn-outline-primary" href="{% url 'log_details' diesel_logs.id %}">Details</a> </small>
                    </div>
                </div>
                {% else %} 
                <app-no-logs></app-no-logs>
            {%endif%}
            </div>
            
            
            <app-add-log></app-add-log>

                

                
                
           
        </div>
        
        

        <div class="col-md-6 full-height color-four rounded black padding-2 border">
            <h2 class="text-center">Mpesa</h2>
            {% if mpesa_logs %}
            {% for mpesa in mpesa_logs %}
            <app-mpesa-logs></app-mpesa-logs>
            {% endfor %}
            {% else %} 
            <app-no-mpesalogs></app-no-mpesalogs>
            {%endif%}
            <app-add-mpesalog></app-add-mpesalog>
            
        </div>
       
        
        
    </div>
    <br><br><br><br><br>
    
    

    
    

    
</div>