<form  #addMpesaForm="ngForm" (submit)="addLog(addMpesaForm.value)" id="addMpesaForm" class="padding-2 bg-light rounded shadow">
    <h5 class="">Add Mpesa Log Details</h5><br>
    
            <mat-form-field appearance="outline">
                <mat-label>Select Fuel Id </mat-label>
                <mat-select name="fuel" ngModel #fuel="ngModel" >
                  <mat-option *ngFor="let f of fuels"  value="{{f.id}}" name="fuel" ngModel #fuel="ngModel" type="number">{{f.fuel_type}}</mat-option>
                </mat-select>
              </mat-form-field>&nbsp;&nbsp;&nbsp;
                <mat-form-field  appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Enter date" name="date" #date="ngModel" ngModel type="date" required>
                    <mat-error *ngIf="date.hasError('required') || date.pristine">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>  &nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline">
                      <mat-label>Formatted Date</mat-label>
                      <input matInput name="formatted_date" ngModel type="text" [(ngModel)]="tdate" required>
                      <mat-hint>e.g Mon Nov 28 2022</mat-hint>
                      <mat-error *ngIf="date.hasError('required') || date.pristine">
                        Formatted date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline" class="">
                        <mat-label>Transaction Number</mat-label>
                        <input matInput placeholder="Transaction Number" name="transaction_number" #transaction_number="ngModel" ngModel type="text" required>
                        <mat-error *ngIf="transaction_number.hasError('required') || transaction_number.pristine">
                          Transaction number is <strong>required</strong>
                        </mat-error>
                      </mat-form-field> &nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline" class="">
                        <mat-label>Customer Name</mat-label>
                        <input matInput placeholder="Customer Name" name="customer_name" #customer_name="ngModel" ngModel type="text" required>
                        <mat-error *ngIf="customer_name.hasError('required') || customer_name.pristine">
                          Customer name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field> &nbsp;&nbsp;&nbsp;
                    <mat-form-field appearance="outline" class="">
                        <mat-label>Customer Phone No.</mat-label>
                        <input matInput placeholder="Customer Phone No." name="customer_phone_number" #customer_phone_number="ngModel" ngModel type="number" required min="99999999" max="999999999">
                        <mat-icon matSuffix></mat-icon>
                        <mat-hint>e.g <strong>712345678</strong></mat-hint>
                        <mat-error *ngIf="customer_phone_number.hasError('min')">
                            Phone number should be <strong>at least 9 digits</strong>
                        </mat-error>
                        <mat-error *ngIf="customer_phone_number.hasError('max')">
                            Phone number should <strong>not exceed 9 digits</strong>
                        </mat-error>
                        <mat-error *ngIf="customer_phone_number.hasError('required') || customer_phone_number.pristine">
                          Customer phone number is <strong>required</strong>
                        </mat-error>
                      </mat-form-field> <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Bank Amount</mat-label>
                        <input matInput placeholder="Bank Amount" [(ngModel)]="default" name="amount_transferred_to_bank" #amount_transferred_to_bank="ngModel" ngModel type="number" required>
                        <mat-icon matSuffix></mat-icon>
                        <mat-hint>e.g <strong>1200</strong></mat-hint>
                        <mat-error *ngIf="amount_transferred_to_bank.hasError('required') || amount_transferred_to_bank.pristine">
                          Bank amount is <strong>required</strong>
                        </mat-error>
                      </mat-form-field> &nbsp;&nbsp;&nbsp;
        
              <mat-form-field appearance="outline" >
                  <mat-label>Amount</mat-label>
                  <input matInput placeholder="Enter amount" name="amount" #amount="ngModel" ngModel type="number" required>
                  <mat-hint>e.g <strong>1200</strong></mat-hint>
                  <mat-error *ngIf="amount.hasError('required') || amount.pristine">
                    Amount is <strong>required</strong>
                  </mat-error> 
                  </mat-form-field><br>
                <mat-form-field appearance="outline" >
                    <mat-label>Logged by</mat-label>
                    <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username">
                  </mat-form-field>  
                  &nbsp;&nbsp;&nbsp; 
           
                  <mat-form-field appearance="outline">
                    <mat-label>Select Your User Id </mat-label>
                    
                    <mat-select name="user_id" ngModel #user_id="ngModel" >
                      <mat-option *ngFor="let a of admins"  value="{{a.id}}" name="user_id" ngModel #user_id="ngModel" type="number">{{a.username}}</mat-option>
                    </mat-select>
                  </mat-form-field>  
           
    
        <div class="form-group">
            <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="addMpesaForm.invalid" (click)="reload()">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="addMpesaForm.invalid">Save and add another</button>
        </div>
    </form>