<div class="container-fluid color-two">
    <br><br><br>
    <div class="row">
        
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            <app-initial-amount></app-initial-amount>

               <app-gas-received></app-gas-received>
               <div id="fuelRecvdForm" class="rounded color-two padding margin"><br>
                <h2 class="text-center margin-top">Add Gas Received information</h2> 
                <app-gas-received-form></app-gas-received-form>
                </div>
            
        

        <div class="col-md-6 full-height color-four rounded black padding-2 border">
            <h2 class="text-center">Mpesa</h2>
            <div *ngIf="mpesa_logs else elseBlockMpesa">
                <app-mpesa-logs></app-mpesa-logs>
            </div>
            <div>
                <ng-template #elseBlockMpesa>
                    <app-no-mpesalogs></app-no-mpesalogs>
                </ng-template>
            </div>
        </div>

            <button onclick="togglePumpOne()">Pump One</button><button onclick="togglePumpTwo()">Pump Two</button><br>
            <button onclick="togglePumpThree()">Pump Three</button><button onclick="togglePumpFour()">Pump Four</button>

       
        
            
            <div>
                <div id="petrolPumpOne">
                    <app-gas-pump-one></app-gas-pump-one>
                    <app-add-gas-pump-one></app-add-gas-pump-one>
                </div>
                <div id="petrolPumpTwo">
                    <app-gas-pump-two></app-gas-pump-two>
                    <app-add-gas-pump-two></app-add-gas-pump-two>
                </div>
                <div id="petrolPumpThree">
                    <app-gas-pump-three></app-gas-pump-three>
                    <app-add-gas-pump-three></app-add-gas-pump-three>
                </div>
                <div id="petrolPumpFour">
                    <app-gas-pump-four></app-gas-pump-four>
                    <app-add-gas-pump-four></app-add-gas-pump-four>
                </div>
            </div>
        
        
    </div>
    <br><br><br><br><br>
    
    

    
    

    
</div>