<div class="color-one shadow rounded">
    <p><span><mat-icon>check</mat-icon></span>Step 1: <button disabled type="button" class="btn btn-sm margin-bottom btn-info btn-outline-dark">Register</button> for an employee account.</p>
</div>
<div class="color-one shadow rounded">
    <p><span><mat-icon>check</mat-icon>Step 2: <button type="button" disabled class="btn btn-sm margin-bottom btn-info btn-outline-dark">Log in</button> to your new account. </span></p>
</div>
<br>
<div class="color-one shadow rounded">
    <p><span><mat-icon>check</mat-icon>Step 3: Record the day's logs...</span></p>
    <p><span><mat-icon>check</mat-icon>or view your profile page.</span></p>
</div>