<div class="container">
  <form  #editCardForm="ngForm" (submit)="editItem(editCardForm.value)" class="padding-2 bg-light rounded shadow">
    <h5>Edit {{details.fuel_type}} Card Details <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span></h5>  
    <br>
    <mat-form-field  appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput placeholder="Enter date" name="date" #date="ngModel" ngModel type="text" [(ngModel)]="details.date" required>
      <mat-icon matSuffix>date</mat-icon>
      <mat-error *ngIf="date.hasError('required') || date.pristine">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp; 
    <mat-form-field appearance="outline" >
      <mat-label>Formatted Date</mat-label>
      <input matInput name="formatted_date" ngModel [(ngModel)]="details.formatted_date" type="text" required #formatted_date="ngModel">
      <mat-error *ngIf="formatted_date.hasError('required') || formatted_date.pristine">
        Formatted date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Card name</mat-label>
      <input matInput placeholder="Enter card name" name="card_name" #card_name="ngModel" [(ngModel)]="details.card_name" ngModel type="text" required>
      <mat-error *ngIf="card_name.hasError('required') || card_name.pristine">
        Card name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;    
    <mat-form-field appearance="outline" >
      <mat-label>Card number</mat-label>
      <input matInput placeholder="Enter card number" name="card_number" #card_number="ngModel" ngModel [(ngModel)]="details.card_number" type="number" min="999999999999999" max="10000000000000000" required>
      <mat-error *ngIf="card_number.hasError('min')">
        Card number should be at least <strong>16 digits</strong>
      </mat-error>
      <mat-error *ngIf="card_number.hasError('max')">
        Card number cannot be more than <strong>16 digits</strong>
      </mat-error>
      <mat-error *ngIf="card_number.hasError('required') || card_number.pristine">
        Card number is <strong>required</strong>
      </mat-error> 
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Enter amount" name="amount" #amount="ngModel" ngModel type="number" [(ngModel)]="details.amount" required>
      <mat-error *ngIf="amount.hasError('required') || amount.pristine">
        Amount is <strong>required</strong>
      </mat-error> 
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Logged By</mat-label>
      <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username" required>
      <mat-error *ngIf="logged_by.hasError('required') || logged_by.pristine">
        This field is <strong>required</strong>
      </mat-error> 
    </mat-form-field>   
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Select Your User Id </mat-label>
      <mat-select name="user_id" ngModel #user_id="ngModel" >
        <mat-option *ngFor="let a of admins"  value="{{a.id}}" name="user_id" ngModel #user_id="ngModel" type="number">{{a.username}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="hide">
      <mat-form-field appearance="outline" >
        <mat-label>Fuel id</mat-label>
        <input matInput name="fuel" #fuel="ngModel" ngModel type="number" [(ngModel)]="details.fuel.id">
      </mat-form-field> 
    </div> 
                     
    <div class="form-group">
      <button type="submit" class="margin-top" mat-raised-button color="accent" [disabled]="editCardForm.invalid" (click)="reload()"> Save</button>
      &nbsp;&nbsp;
      <button class="margin-top" type="submit" mat-flat-button color="accent" [disabled]="editCardForm.invalid">Save and continue editing</button>
      &nbsp;&nbsp;
      <button class="margin-top" type="submit" mat-flat-button color="accent"  [disabled]="editCardForm.invalid" (click)="redirect()">Save and add another</button>
      <button class="float-right margin-top" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
    </div>
  </form>
</div>