<div class="container-fluid">
  <div class="row padding">
    <div class="col-lg-2">
      <div class="bg-light shadow rounded bg-light">
        <p class="aloha font-md text-center">F<span class="font-md-2">uel</span> <i class="fa-solid fa-bolt"></i></p>
    </div>
    <div class="shadow padding">
      <h6><i class="fa-solid fa-gas-pump"></i> {{fuelName}}</h6>
      <p><i class="fa-solid fa-hand-holding-dollar"></i> Ksh. {{logs.price_per_litre}} P/Lt.</p>
    </div>
    </div>
    <div class="col-lg-10 rounded center bg-light padding-2">
      <h2> <span> Log Details</span></h2>
        <app-initial-amount></app-initial-amount>
        <div class="card color-two">
          <h5 class="card-header margin-top"><span class="" style="float:left;"><a routerLink="/print-report/{{logs.id}}"><button class=" margin-top btn btn-sm btn-light btn-outline-primary">Print <span><i class="fa-solid fa-print"></i></span></button></a></span> <i class="fa-regular fa-calendar"></i> {{logs.date}} <span style="float:right;"><h6><a routerLink="/email-report/{{logs.id}}" type="button" class="btn btn-sm btn-light btn-outline-primary"><span><i class="fa-solid fa-paper-plane"></i></span> email</a></h6></span></h5>
            <div class="card-body">
                <div class="table-responsive" id="table" name="table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">EOD Reading Today</th>
                          <th scope="col">EOD Reading Yesterday</th>
                          <th scope="col">Total litres sold today</th>
                          <th scope="col">Amount earned today</th>
                          <th scope="col">Balance (lts)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{logs.id}}</td>
                            <td id="tester-today2">{{logs.eod_reading_lts}}</td>
                            
                            <td id="tester-yesterday2">{{logs.eod_reading_yesterday}}</td>
                          <td id="total-today2"></td>
                          <td id="amount-today2"></td>
                          <td>{{logs.balance}}</td>
                        </tr>
                      </tbody>
                      </table>
                </div>
            </div>
            <div class="card-footer">
                <small class="">First logged by {{logs.logged_by}} on {{logs.first_logged | date: 'medium'}}</small>
            </div>
            <p><a type="button" class="btn btn-sm btn-light btn-outline-primary" type="button" (click)="reportWarn();"><i class="fa-solid fa-pen-to-square"></i> details </a> <small *ngIf="logs.first_logged != logs.last_edited"> >>> Last edited by on {{logs.last_edited | date: 'medium'}}</small></p>
        </div>
            
        
        
        
        <div *ngIf="!closed">
          <form class="bg-dark" *ngIf="updateConfirmed;" [formGroup]="form" (ngSubmit)="updateLogDetails()">
            <span style="float:right;" (click)="toggleUpdateForm()" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
              <div class="row">
                  <div class="col">
                      <label for="date" class="white">Log date</label>
                      <input type="date" #date class="Aj form-control" id="date" formControlName="date" placeholder="Date" [(ngModel)]="logs.date" required>
                      
                  </div>
                  <div class="col">
                      <label for="eod_reading_lts" class="white">End of day reading</label>
                      <input type="number" #eod_reading_lts class="Aj form-control" id="eod_reading_lts" formControlName="eod_reading_lts" placeholder="Eod reading (lts)" [(ngModel)]="logs.eod_reading_lts" required>
                  </div>
              </div>
              
              <div class="form-group">
                  <button class="btn margin btn-sm btn-outline-primary btn-dark" type="submit">Update log</button>
              </div> 
          </form>
        </div>

        <div *ngIf="fuels">
          <div class="row padding-2">
            <div class="col"></div>
              <div class="col center padding-2 rounded" id="pReceived" *ngIf="!hidePetrol">
                  <div *ngIf="petrol_received else noPetrolReceived" class="bg-light rounded">
                      <p class="card-title shadow text-center">Petrol Received This Day: <br> <span><h5>{{petrol_received.total_fuel_received_today}} <span>Lts.</span></h5></span>  </p>
                      <span><a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="toggleOrderInfo()">order(s) info</a> | <a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="togglePetrolRcvd()">new order</a></span> 
                      <br><br>
                      <app-petrol-received-form></app-petrol-received-form>
                      <ol id="orderInfo" class="shadow rounded padding" style="text-align:left;">
                          <h6>Receipt Info <span><a type="button" style="float:right;" class="btn btn-sm btn-dark btn-outline-danger" onclick="toggleOrderInfo()">X</a></span></h6>
                          <span><p><li *ngFor="let petrol_received_info of petrol_received_info">{{petrol_received_info.litres_received}} Lts. from {{petrol_received_info.received_from}}</li></p></span>
                      </ol>
                  </div>
                  <div>
                      <ng-template #noPetrolReceived>
                          <div class="shadow bg-light padding">
                              <h5 class="card-header text-center">No petrol received yet. <button class="btn btn-sm btn-dark btn-outline-info" onclick="togglePetrolRcvd()">Add now?</button></h5>
                          <app-petrol-received-form></app-petrol-received-form>
                          </div>
                      </ng-template>
                      
                  </div>
              </div>
              <div class="col center padding-2 rounded" id="dReceived" *ngIf="!hideDiesel">
                  <div *ngIf="diesel_received else noDieselReceived" class="bg-light rounded">
                      <p class="card-title shadow text-center">Diesel Received This Day: <br> <span><h5>{{diesel_received.total_fuel_received_today}} <span>Lts.</span></h5> </span> </p>
                      <span><a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="toggleDieselOrderInfo()">order(s) info</a> | <a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="toggleDieselRcvd()">new order</a></span>
                      <br><br>
                      <app-diesel-received-form></app-diesel-received-form>
                      <ol id="dieselOrderInfo" class="shadow rounded padding" style="text-align:left;">
                          <h6>Receipt Info <span><a type="button" style="float:right;" class="btn btn-sm btn-dark btn-outline-danger" onclick="toggleDieselOrderInfo()">X</a></span></h6>
                          <li class="card-text" *ngFor="let diesel_received_info of diesel_received_info">{{diesel_received_info.litres_received}} Lts. from {{diesel_received_info.received_from}}</li>
                        </ol>
                  </div>
                  <div>
                      <ng-template #noDieselReceived>
                          <div class="shadow bg-light padding">
                              <h5 class="card-header text-center">No Diesel received yet. <button class="btn btn-sm btn-dark btn-outline-info" onclick="toggleDieselRcvd()">Add now?</button></h5>
                          <app-diesel-received-form></app-diesel-received-form>
                          </div>
                          
                      </ng-template>
                  </div>
              </div>
              <div class="col padding-2 center rounded" id="gReceived" *ngIf="!hideGas">
                  <div *ngIf="gas_received else gasReceived" class="bg-light rounded">
                      <p class="card-title shadow text-center">Gas Received This Day: <br> <span><h5>{{gas_received.total_fuel_received_today}} <span>Lts.</span></h5> </span> </p>
                      <span><a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="toggleGasOrderInfo()">order(s) info</a> | <a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="toggleGasRcvd()">new order</a></span>
                      <br><br>
                      <app-gas-received-form></app-gas-received-form>
                      <ol id="gasOrderInfo" class="shadow rounded padding" style="text-align:left;">
                          <h6>Receipt Info <span><a type="button" style="float:right;" class="btn btn-sm btn-dark btn-outline-danger" onclick="toggleGasOrderInfo()">X</a></span></h6>
                          <li class="card-text" *ngFor="let gas_received_info of gas_received_info">{{gas_received_info.litres_received}} Lts. from {{gas_received_info.received_from}}</li>
                        </ol>
                  </div>
                  
                  <div>
                      <ng-template #gasReceived>
                          <div class="shadow bg-light padding">
                              <h5 class="card-header text-center">No Gas received yet. <button onclick="toggleGasRcvd()" class="btn btn-sm btn-dark btn-outline-info">Add now?</button></h5>
                              <app-gas-received-form></app-gas-received-form>
                          </div>
                      </ng-template>
                  </div>
              </div>
              <div class="col"></div>
          </div>
          
          
      </div>
      <div>
          
      
          
      
          
          
     
      </div>
      
    </div>
         

        
    </div>
    
  </div>
 
        
    
  <app-footer></app-footer>