<div class="container-fluid">
  <div class="row padding">
    <div class="col-sm-1"></div>
    <div class="col-lg-10 rounded center bg-light padding-2">
      <h2>Log [{{logs.id}}] Details <br></h2>
        <app-initial-amount></app-initial-amount>
        <div class="card color-two">
          <h5 class="card-header margin-top"><span class="" style="float:left;"><a routerLink="/print-report/{{logs.id}}"><button class=" margin-top btn btn-sm btn-light btn-outline-primary">Print <span><i class="fa-solid fa-print"></i></span></button></a></span> {{logs.date}} <span style="float:right;"><h6><a routerLink="/email-report/{{logs.id}}" type="button" class="btn btn-sm btn-light btn-outline-primary"><span><i class="fa-solid fa-paper-plane"></i></span> email</a></h6></span></h5>
            <div class="card-body">
                <div class="table-responsive" id="table" name="table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">EOD Reading Today</th>
                          <th scope="col">EOD Reading Yesterday</th>
                          <th scope="col">Total litres sold today</th>
                          <th scope="col">Amount earned today</th>
                          <th scope="col">Balance (lts)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td id="tester-today2">{{logs.eod_reading_lts}}</td>
                            
                            <td id="tester-yesterday2">{{logs.eod_reading_yesterday}}</td>
                          <td id="total-today2"></td>
                          <td id="amount-today2"></td>
                          <td>{{logs.balance}}</td>
                        </tr>
                      </tbody>
                      </table>
                </div>
            </div>
            <div class="card-footer">
                <small class="">First logged by {{logs.logged_by}} on {{logs.first_logged | date: 'medium'}}</small>
            </div>
            <p><a type="button" class="btn btn-sm btn-light btn-outline-primary" type="button" (click)="reportWarn();"><i class="fa-solid fa-pen-to-square"></i> details </a> <small *ngIf="logs.first_logged != logs.last_edited"> >>> Last edited on {{logs.last_edited | date: 'medium'}}</small></p>
        </div>
            
        
        
        
        <div *ngIf="!closed">
          <form class="bg-dark" *ngIf="updateConfirmed;" [formGroup]="form" (ngSubmit)="updateLogDetails()">
            <span style="float:right;" (click)="toggleUpdateForm()" type="button" class="btn btn-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
              <div class="row">
                  <div class="col">
                      <label for="date" class="white">Log date</label>
                      <input type="date" #date class="Aj form-control" id="date" formControlName="date" placeholder="Date" [(ngModel)]="logs.date" required>
                      
                  </div>
                  <div class="col">
                      <label for="eod_reading_lts" class="white">End of day reading</label>
                      <input type="number" #eod_reading_lts class="Aj form-control" id="eod_reading_lts" formControlName="eod_reading_lts" placeholder="Eod reading (lts)" [(ngModel)]="logs.eod_reading_lts" required>
                  </div>
              </div>
              
              <div class="form-group">
                  <button class="btn margin btn-sm btn-outline-primary btn-dark" type="submit">Update log</button>
              </div> 
          </form>
        </div>
         

        <div class="card color-two">
          <!-- <app-petrol-received></app-petrol-received> -->
          <app-fuel-received></app-fuel-received>
          <div class="card-body" id="orderInfo" *ngFor="let fuel_received_info of petrol_received_info">
            <app-fuel-received-info></app-fuel-received-info>
          </div>
        </div>
  
        <span class="color-two"><a href=""><button class=" margin-top btn btn-sm btn-dark btn-outline-primary">Print <img src="https://res.cloudinary.com/benie/image/upload/v1660387522/printer-g47055846b_1280_ptvrkf.png" height="40" width="40"></button></a></span> <br><br>
        <h6><a href="" type="button" class="btn btn-sm btn-dark btn-outline-info">Request email report</a></h6>
    </div>
    <div class="col-sm-1"></div>
  </div>
        
  
        <!-- <div id="updateLogDetailsForm" class="rounded container center color-two border col-md-5"><br>
          <h2 class="text-center">Update Log details</h2>
          <h6 class="text-center"><span class="bg-danger padding-2 rounded">Remember to update your balance too!</span></h6>
          <app-update-log-details></app-update-log-details>
        </div> -->
        <!-- <div id="fuelReceivedForm" class="rounded container center color-two border"><br>
          <h2 class="text-center margin-top">Add Petrol Received information</h2> 
          <h6 class="text-center"><span class="bg-danger padding-2 rounded">Remember to update your balance!</span></h6>
          <app-petrol-received-form></app-petrol-received-form>
        </div>    -->
  </div>