<div class="container-fluid"> 
  <div class="row padding-2">
    <div class="col-lg-8 rounded text-center padding-2">
      <div class="card color-two shadow">
        <h5 class="card-header margin-top"><span class="" style="float:left;"><button class=" margin-top" mat-raised-button color="accent" (click)="printLog()">Print <span><i class="fa-solid fa-print"></i></span></button></span> <i class="fa-regular fa-calendar"></i> {{logs.date}}  <span style="float:right;"><h6><a routerLink="/logs/email/report/{{logs.id}}" type="button" class="margin-top" mat-raised-button color="accent"><span><i class="fa-solid fa-paper-plane"></i></span> email</a></h6></span></h5>
        <div class="card-body">
          <div class="table-responsive" id="table" name="table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">EOD</th>
                  <th scope="col">EOD Yesterday</th>
                  <th scope="col">Litres sold</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Balance (lts)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{logs.id}}</td>
                  <td id="tester-today2">{{logs.eod_reading}}</td>
                  <td id="tester-yesterday2">{{logs.eod_yesterday}}</td>
                  <td id="total-today2">{{logs.litres_sold}}</td>
                  <td id="amount-today2">{{logs.amount_td}}</td>
                  <td>{{logs.bal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          
          <small> >>> First logged by {{logs.logged_by}} on {{logs.first_logged | date: 'medium'}}<br>
           <span *ngIf="logs.first_logged != logs.last_edited"> >>> Last edited by {{logs.edited_by}} on {{logs.last_edited | date: 'medium'}}</span></small>
        </div>
        <!-- <app-fuel-received></app-fuel-received> -->
        
      </div>
      <div class="bg-light rounded bg-light">
        <p class="aloha text-center">{{logs.fuel_type}} <i class="fa-solid fa-bolt"></i> &nbsp;|&nbsp; <i class="fa-solid fa-hand-holding-dollar"></i> Ksh. {{logs.pp_litre}} P/Lt. &nbsp;|&nbsp; General <i class="fa-regular fa-file-lines"></i></p>
      </div>
    </div>
    
    <div class="col-lg-4 text-center">
      <br><br>
      <p><a type="button" class="w-100" color="warn" mat-flat-button type="button" (click)="reportWarn();"><i class="fa-regular fa-pen-to-square"></i> edit log </a> </p>
      <div *ngIf="!closed">
            <form id="logUpdateForm" class="rounded padding-2 margin shadow" *ngIf="updateConfirmed;" #logUpdateForm="ngForm" (ngSubmit)="updateLogDetails(logUpdateForm.value)">
              <h6 class="margin-top">  <span style="float:right;" (click)="toggleUpdateForm()" type="button" mat-raised-button color="warn"><i class="fa-solid fa-rectangle-xmark"></i></span> Log Update Form</h6>
             
                  <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:2.5%;">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" ngModel name="date" #date="ngModel" type="text" [(ngModel)]="logs.date" required>
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-error *ngIf="date.hasError('required') || date.pristine">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
                
                  <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:2.5%;">
                    <mat-label>EOD reading</mat-label>
                    <input matInput placeholder="End of day reading" ngModel name="eod_reading" #eod_reading="ngModel" type="number" [(ngModel)]="logs.eod_reading" required>
                    <mat-error *ngIf="eod_reading.hasError('required') || eod_reading.pristine">
                      EOD reading is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
                  <div class="hide">
                    <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:2.5%;">
                      <mat-label>Edited by</mat-label>
                      <input matInput name="edited_by" ngModel #edited_by="ngModel" type="text" [(ngModel)]="currentUser.username">
                    </mat-form-field> 
                  </div>
                    
                    <br>
                  
              <div class="form-group">
                <button class="margin w-100" mat-raised-button color="accent" type="submit" [disabled]="logUpdateForm.invalid">Update log</button>
              </div> 
            </form>
            <br>
          
      </div>  
      <small><span><button class="w-100" color="warn" mat-flat-button type="button" (click)="delWarn()"><span><i class="fa-solid fa-trash-arrow-up"></i></span> delete log</button></span></small>
      <br><br><hr><br>
      <app-fuel-received-info [noTotal]="noTotal" [noneRcvd]="noneRcvd" [fuelReceived]="fuelReceived" [fuelTotal]="fuelTotal" [fuelType]="fuelType" [fuelId]="fuelId"></app-fuel-received-info>
    </div>
  </div>
</div>
    <br><br>
    