<h5 class="card-header"><span class="" style="float:left;"><a routerLink="/print-report/{{logs.id}}"><button class="btn btn-sm btn-dark btn-outline-info">Print </button></a></span> {{logs.date}} <span style="float:right;"><h6><a routerLink="/email-report/{{logs.id}}" type="button" class="btn btn-sm btn-dark btn-outline-info">Request email report</a></h6></span></h5>
            <div class="card-body">
                <div class="table-responsive" id="table" name="table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">EOD Reading Today</th>
                          <th scope="col">EOD Reading Yesterday</th>
                          <th scope="col">Total litres sold today</th>
                          <th scope="col">Amount earned today</th>
                          <th scope="col">Balance (lts)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td id="tester-today2">{{logs.eod_reading_lts}}</td>
                            
                            <td id="tester-yesterday2">{{logs.eod_reading_yesterday}}</td>
                          <td id="total-today2"></td>
                          <td id="amount-today2"></td>
                          <td>{{logs.balance}}</td>
                        </tr>
                      </tbody>
                      </table>
                </div>
            </div>
            <div class="card-footer">
                <small class="">Logged by  | First logged on {{logs.first_logged}} | <span *ngIf="logs.first_logged != logs.last_edited"> >>> Last edited on {{logs.last_edited}}</span></small>
            </div>