<!-- <h5 class="card-header">{{logs.date}} <span class="float-right margin-top smaller" *ngIf="petrol_info"><span id="price-p2">{{info.price_per_litre}}</span> <span><button class="btn margin-bottom-two btn-sm btn-light btn-outline-info" onclick="toggleUpdatePetrolPrice()"><img type="button" src="https://res.cloudinary.com/benie/image/upload/v1661103475/383147_edit_icon_hixt9z.png" height="17.5" width="17.5" alt=""></button> <span id="updatePetrolPriceForm2"> <app-priceperlitre-update-form></app-priceperlitre-update-form> </span> </span> -->
              <h5 class="card-header">{{logs.date}} </h5>
              <div class="card-body">
                  <div class="table-responsive" id="table" name="table">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">EOD Reading Today</th>
                            <th scope="col">EOD Reading Yesterday</th>
                            <th scope="col">Total litres sold today</th>
                            <th scope="col">Amount earned today</th>
                            <th scope="col">Balance (lts)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td id="tester-today2">{{logs.eod_reading_lts}}</td>
                              
                              <td id="tester-yesterday2">{{logs.eod_reading_yesterday}}</td>
                            <td id="total-today2"></td>
                            <td id="amount-today2"></td>
                            <td>{{logs.balance}}</td>
                          </tr>
                        </tbody>
                        </table>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="">Logged by  | First logged on {{logs.first_logged}}</small>
              </div>
              