<h5 class="card-header">{{log_details.date}} <span class="float-right margin-top smaller">{%if petrol_info%}<app-price-perlitre></app-price-perlitre>{%endif%}</span></h5>
              
              <div class="card-body">
                  <div class="table-responsive" id="table" name="table">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">EOD Reading Today</th>
                            <th scope="col">EOD Reading Yesterday</th>
                            <th scope="col">Total litres sold today</th>
                            <th scope="col">Amount earned today</th>
                            <th scope="col">Balance (lts)</th>
                            <th scope="col">Updated Balance (lts)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td id="tester-today2">{{log_details.eod_reading_lts}}</td>
                              
                              <td id="tester-yesterday2">{{log_details.eod_reading_yesterday}}</td>
                            <td id="total-today2"></td>
                            <td id="amount-today2"></td>
                            <td id="" name=""><span><form class="padding margin-top" action="{% url 'log_details' log_details.id %}" method="post" >{%csrf_token%}<input type="number" class="hide" id="bal2" name="balance" >{%if yesterday_petrol_logs%}<input type="number" name="balance_yesterday" class="hide" value="{{yesterday_petrol_logs.balance}}">{%endif%}{%if petrol_received%}<input type="submit" class="btn btn-sm btn-outline-info btn-dark" value="Update bal" onclick="">{%else%}<input type="submit" class="btn margin btn-sm btn-outline-primary btn-dark" value="Calculate" onclick="">{%endif%}</form> </span> <span></span></td>
                            <td>{{log_details.balance}}</td>
                          </tr>
                        </tbody>
                        </table>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="">Logged by {{log_details.user.username}} | First logged on {{log_details.first_logged}}</small>
              </div>
              <p><a type="button" class="btn btn-sm btn-dark btn-outline-info" href="#updateLogDetailsForm" onclick="toggleUpdateLogDetailsForm()">Update log? </a> <small> >>> {%if log_details.first_logged != log_details.last_edited%} Last edited on {{log_details.last_edited}}{%endif%}</small></span></p>