<div class="container">
    <div class="padding-2">
        <div class="shadow padding-2 bg-light">
            <h5>User Details <i class="fa-solid fa-hashtag"></i> {{currentUser.id}}</h5>
<br>
            <p class="text-success">{{currentUser.id}}. {{currentUser.username}} :&nbsp;&nbsp; {{currentUser.email}} </p>
            <p>First name: <strong>{{currentUser.first_name}}</strong> <br>
                Last name: <strong>{{currentUser.last_name}}</strong> <br>
                Petrol Station: <strong>{{currentUser.petrol_station}}</strong></p>
        </div>
    </div>
</div>