<header>
    <app-profile-sidebar></app-profile-sidebar>
</header>

<div class="container main">
    <div class="row">
        
        <div class="col-md-2">

        </div>
        
        <div class="col-lg-10">
            <br><br><br>
            <div class="row">
                <div class="col-lg-8">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1659033436/fuel-gauge-148923_1280_bifykm.png" class="margin-top" height="370" width="100%" alt="">
                </div>
                <div class="col-lg-4">
                    {% if announcements %} 
                    {%for announce in announcements%}
                    <app-profile-announcements></app-profile-announcements>
                    {%endfor%}
                    {% else %} 
                    <app-profile-noannouncements></app-profile-noannouncements>
                    {% endif %} 
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- <col class="col-sm-2"> -->
                <div class="border col-lg-6 color-four rounded black padding-2">
                    <h2>Your Logs</h2>
                    {% if user_logs %}
                    {% for log in user_logs %} 
                    <app-profile-logcard></app-profile-logcard>
                    {% endfor %}
                    {% else %} 
                    <app-no-logs></app-no-logs>
                    {%endif%}
                    
                </div>
                <div class="col-lg-6 color-four rounded black padding-2">
                    <h2>Your Mpesa Logs</h2>
                    {% if mpesa_logs %}
                    {% for mpesa in mpesa_logs %}
                    <app-profile-mpesalogs></app-profile-mpesalogs>
                    {% endfor %}
                    {% else %} 
                    <app-profile-nompesalogs></app-profile-nompesalogs>
                    {%endif%}
                </div>
                
            </div>
    
        </div>
        
    </div>

</div>