<form id="dieselReceived" #dieselReceivedForm="ngForm" (ngSubmit)="dieselReceived(dieselReceivedForm.value)">
    <label for="fuel">fuel</label>
    <input type="number" id="fuel" ngModel #fuel="ngModel" name="fuel" [(ngModel)]="dieselInfo.id" placeholder="fuel type">
    <label for="litres_received">Litres received</label><br>
    <input type="number" id="litres_received" ngModel #litres_received="ngModel" name="litres_received" placeholder="Litres received" required>
    <div [hidden]="litres_received.valid || litres_received.pristine" class="alert alert-danger">
        <p>Litres received required</p>
    </div>
    <label for="received_from">Received from</label><br>
    <input type="text" ngModel id="received_from" #received_from="ngModel" name="received_from" placeholder="Received from..." required>
    <div [hidden]="received_from.valid || received_from.pristine" class="alert alert-danger">
        <p>Received from input required</p>
    </div>
    <label for="date_received">Date received</label><br>
    <input type="date" ngModel id="#date_received" #date_received="ngModel" name="date_received" placeholder="date_received" required>
    <div [hidden]="date_received.valid || date_received.pristine" class="alert alert-danger">
        <p>Date required</p>
    </div>
    <button type="submit" onclick="toggleInfo()" class="btn btn-sm">Submit</button>
</form>