<form class="padding" #cardReportForm="ngForm" (ngSubmit)="emailCardReport(cardReportForm.value)">
    <h3 class="text-center"><i class="fa-solid fa-hand"></i> Please confirm your details</h3> 
<p class="text-center">We will send an email report to...</p>
    <div class="row hide">
        <div class="col">
            <input type="date" ngModel name="date" #date="ngModel" [(ngModel)]="cardDetails.date">
            <input type="text" ngModel name="card_no" #card_no="ngModel" [(ngModel)]="cardDetails.card_no">
    <input type="text"name="card_name" ngModel #card_name="ngModel" [(ngModel)]="cardDetails.card_name">
    <input type="number" name="amount" #amount="ngModel" ngModel [(ngModel)]="cardDetails.amount">
    <input type="number" ngModel [(ngModel)]="cardDetails.total_td" name="total_td">
    <input type="number" placeholder="cumulative_amount" name="cumulative_amount" ngModel [(ngModel)]="cardDetails.cumulative_amount">
    <input type="text" placeholder="logged_by" name="logged_by" #logged_by="ngModel" ngModel [(ngModel)]="cardDetails.logged_by">
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 rounded padding-2">
            <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:2.5%;">
                <mat-label>Your email</mat-label>
                <input matInput placeholder="Your email" ngModel name="email" #email="ngModel" type="email" [(ngModel)]="currentUser.email" [errorStateMatcher]="matcher" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.hasError('pattern')">
                    Please enter a <strong>valid email address</strong> 
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required') || email.pristine">
                    Email is <strong>required</strong>
                  </mat-error>
              </mat-form-field> 
            <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                <mat-label>Your name</mat-label>
                <input matInput placeholder="Your name" name="name" #name="ngModel" ngModel type="text" [(ngModel)]="currentUser.first_name" required minlength="3" maxlength="25">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="name.hasError('minlength')">
                    Your name should be at least <strong>3 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="name.hasError('maxlength')">
                    Your name cannot be more than <strong>25 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="name.hasError('required') || name.pristine">
                    Your name is <strong>required</strong>
                  </mat-error>
              </mat-form-field> 
              <br><br>
    <div class="form-group text-center">
        <button type="submit" class="margin-top2 w-100" color="accent" mat-raised-button [disabled]="cardReportForm.invalid"><i class="fa-solid fa-paper-plane"></i> Send</button>
    </div>
    </div>
    <div class="col-lg-3"></div>

    </div>
</form>
<br>