<form  #pCreditCardForm="ngForm" (submit)="addCreditCardLog(pCreditCardForm.value)" class="margin-top padding-2">
    <h6 class="text-center">Add {{fuelInfo.fuel_type}} Card Logs</h6>
    
        <div class="row">
            <div class="col-lg-6 rounded padding-2 rounded">
                <mat-form-field  appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Enter date" name="date" #date="ngModel" ngModel type="date" [(ngModel)]="today" required min="{{today}}" max="{{today}}">
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g <strong>02/22/2022</strong></mat-hint>
                    <mat-error *ngIf="date.hasError('required') || date.pristine">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>  
                  <div class="hide">
                    <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                      <mat-label>Formatted Date</mat-label>
                      <input matInput name="long_date" ngModel [(ngModel)]="tdate" type="text">
                    </mat-form-field>
                  </div>      
            </div>
            <div class="col-lg-6 padding-2 rounded">
                <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Card name</mat-label>
                    <input matInput placeholder="Enter card name" name="card_name" #card_name="ngModel" ngModel type="text" required>
                    <mat-hint>e.g <strong>JOHN KURIA DOE</strong></mat-hint>
                    <mat-error *ngIf="card_name.hasError('required') || card_name.pristine">
                      Card name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>        
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Card number</mat-label>
                  <input matInput placeholder="Enter card number" name="card_no" #card_no="ngModel" ngModel type="number" min="999999999999999" max="10000000000000000" required>
                  <mat-hint>e.g <strong>1111 2222 3333 4444</strong></mat-hint>
                  <mat-error *ngIf="card_no.hasError('min')">
                    Card number should be at least <strong>16 digits</strong>
                  </mat-error>
                  <mat-error *ngIf="card_no.hasError('max')">
                    Card number cannot be more than <strong>16 digits</strong>
                  </mat-error>
                  <mat-error *ngIf="card_no.hasError('required') || card_no.pristine">
                    Card number is <strong>required</strong>
                  </mat-error> 
                </mat-form-field>  
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Amount</mat-label>
                  <input matInput placeholder="Enter amount" name="amount" #amount="ngModel" ngModel type="number" required>
                  <mat-hint>e.g <strong>1200</strong></mat-hint>
                  <mat-error *ngIf="amount.hasError('required') || amount.pristine">
                    Amount is <strong>required</strong>
                  </mat-error> 
                </mat-form-field>  
          </div>
      </div>
    
        <div class="row hide">
            <div class="col-lg-6 padding-2 rounded">
                <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Logged by</mat-label>
                    <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username">
                  </mat-form-field>   
            </div>
            <div class="col-lg-6 padding-2 rounded">
                <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                    <mat-label>User id</mat-label>
                    <input matInput name="user" #user="ngModel" ngModel type="number" [(ngModel)]="currentUser.id">
                  </mat-form-field>  
                  <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Fuel id</mat-label>
                    <input matInput name="fuel" #fuel="ngModel" ngModel type="number" [(ngModel)]="fuelInfo.id">
                  </mat-form-field>   
            </div>
            
        </div>
    
        <div class="form-group text-center">
          <button class="margin w-75" color="accent" mat-raised-button type="submit" [disabled]="pCreditCardForm.invalid">Add Card</button>
        </div>
    </form>