<div>
  <div class="card margin-top color-two">
                     
    <div class="card-body" *ngIf="!noMpesa">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><i class="fa-solid fa-hashtag"></i></th>
                    <th scope="col">Date</th>
                    <th scope="col">Transaction no.</th>
                    <th scope="col">Customer name</th>
                    <th scope="col">Customer phone number</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Bank amount</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let mpesa of mpesa_logs | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                  <tr>
                    <td>{{mpesa.id}}</td>
                    <td>{{mpesa.date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{mpesa.transaction_number}}</td>
                    <td>{{mpesa.customer_name}}</td>
                    <td>{{mpesa.customer_phone_number}}</td>
                    <td>{{mpesa.amount}}</td>
                    <td>{{mpesa.amount_transferred_to_bank}}</td>
                    <td><a type="button" class="btn btn-light btn-outline-primary btn-sm" routerLink="/mpesa-details/{{mpesa.id}}">Details</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
        </div>
        </div>
      
    </div>
    
</div>

<div *ngIf="noMpesa">
  <div class="bg-light shadow rounded padding-2">
      
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card color-one">
            <div class="card-body">
                <p class="card-text">Your mpesa logs will appear here.</p>
                <p class="card-text"><a (click)="toggleMpesa()" type="button" class="btn btn-sm btn-light btn-outline-dark">Record mpesa logs now?</a></p>
            </div>
            
        </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
        
        
        <div *ngIf="show">
          <span (click)="close()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
          <app-diesel-no-mpesa></app-diesel-no-mpesa>
        </div>
      
          
      </div>
  </div>
