<br>
<div class="container-fluid" id="all-logs-container">
    <div class="row">
        <h1 class="text-center">All Logs</h1>
        <div class="full-height col-lg-6 rounded black padding-2">
            <div>
                <app-all-logs-card></app-all-logs-card>
            </div>
            
        </div>
        <div class="col-lg-6 full-height rounded black padding-2">
            <div>
                <app-all-mpesa-logs></app-all-mpesa-logs>
            </div>
            <hr>
            <div>
                <app-all-card-logs></app-all-card-logs>
            </div>
        </div>
    </div>
</div>
