<br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 rounded border color-two">
                <div class="logInstructions padding rounded">
                    <div class="bg-light rounded padding">
                        <app-card-instructions></app-card-instructions>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr>
        <h1 class="text-center">
            Add Credit Card Logs
        </h1>
        <div class="row">
            <div id="" class="col-lg-4 padding-2 text-center">
                <div>
                    <div class="bg-light shadow rounded">
                        <p class="aloha font-md text-center">P<span class="font-md">etrol</span> <i class="fa-solid fa-bolt"></i> | <span> <button class="btn btn-md btn-dark btn-outline-info" (click)="togglePetrol()">Add</button></span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 padding-2 text-center">
                <div>
                    <div class="bg-light shadow rounded">
                        <p class="aloha font-md text-center">D<span class="font-md">iesel</span> <i class="fa-solid fa-bolt"></i> | <span><button class="btn btn-md btn-dark btn-outline-info" (click)="toggleDiesel()">Add</button></span></p>
                        <div>
                        </div>
                    </div>
                   
                    
                </div>
                </div>
                <div class="col-lg-4 padding-2 text-center">
                <div>
                    <div class="bg-light shadow rounded">
                        <p class="aloha font-md text-center">G<span class="font-md">as</span> <i class="fa-solid fa-bolt"></i> | <span><button class="btn btn-md btn-dark btn-outline-info" (click)="toggleGas()">Add</button></span></p>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <app-add-card></app-add-card>
            </div>
            <div class="col-lg-3"></div>
        </div>
        
        
        
        
    </div>
    <br><br><br><br><br><br><br>
