<div id="" *ngIf="!notFound">
  <div class="card color-two">
      <h3 class="card-header text-center margin-top">{{pumpThree.pump_name}} </h3>
      <div class="card-body">
          <h5 class="card-title"><span class="float-left shadow">{{logs.date}}</span> <span class="float-right shadow"> Ksh. <span id="price">{{info.price_per_litre}}</span> P/Ltr</span></h5>
          <div class="table-responsive">
              <table class="table table-stripped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">EOD Reading Today</th>
                      <th scope="col">EOD Reading Yesterday</th>
                      <th scope="col">Total litres sold today</th>
                      <th scope="col">Amount earned today</th>
                      <!-- <th scope="col">Get balance</th> -->
                      <th scope="col"><ng-template #elseBlockTaBal><th scope="col">Balance (lts)</th></ng-template></th>
                      <th scope="col" *ngIf="logs.updated_balance else elseBlockTaBal">Updated Balance (lts)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{logs.eod_reading_lts}}</td>
                      <td>{{logs.eod_reading_yesterday}}</td>
                      <td>{{logs.total_litres_sold}}</td>
                      <td>{{logs.amount_earned_today}}</td>
                      <!-- <td id="" name=""><span> <app-bal-form></app-bal-form> </span> <span></span></td> -->
                      <td id=""><ng-template #elseBlockTaBal2><td>{{logs.balance}}</td></ng-template></td>
                      <td *ngIf="logs.updated_balance else elseBlockTaBal2">{{logs.updated_balance}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
      <div class="card-footer">
          <small class="">Logged by {{logs.logged_by}} | <a type="button" class="btn btn-sm btn-light btn-outline-primary" routerLink="/log-details/{{logs.id}}">Details</a> </small>
      </div>
  </div>
</div>

<div *ngIf="notFound">
  <div class="bg-light shadow rounded padding-2">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                  <p class="card-text">Pump 3 logs will appear here.</p>
                  <p class="card-text"><a class="btn btn-sm btn-light btn-outline-dark" type="button" (click)="toggleLog()">Record logs now?</a></p>
              </div>
          </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div *ngIf="closed">
      <span (click)="closeG3()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
      <app-add-gas-pump-three></app-add-gas-pump-three>  
    </div>
  </div>
    
  
    
  
</div>
