<footer>
    <div class="container-fluid footer-content color-two footer">
        <div class="row">
          <div class="col-sm-3 center">
            <h4><span><mat-icon>contact_support</mat-icon></span>Contact</h4>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3 center">
            <h4><span><mat-icon>search</mat-icon></span>Find us</h4>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <h4><span><mat-icon>report_problem</mat-icon></span>Report to us</h4>
          </div>
          <div class="col-sm-1"></div>
        </div>
          
      </div>
</footer>