<footer>
    <div class="container-fluid opacity footer-content color-two footer">
        <div class="row">
            <div class="col-md-4 center">
                <p>2022 <i class="fa-solid fa-copyright"></i> CompanyNameKenyaLtd<i class="fa-solid fa-trademark"></i></p>
            </div>
            <div class="col-md-4 center">
                <a routerLink="/contact"><p><i class="fa-solid fa-message"></i> Management</p></a>
            </div>
            <div class="col-md-4 center">
                <a routerLink="/incident"><p><i class="fa-solid fa-flag"></i> Incidents</p></a>
            </div>
            
        </div>
    </div>
</footer>

