<div class="card color-two" *ngFor="let user_logs of user_logs">
    <h4 class="card-header">{{user_logs.date}} </h4>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">EOD Reading Today</th>
                    <th scope="col">EOD Reading Yesterday</th>
                    <th scope="col">Balance (lts)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td class="tester-today3">{{user_logs.eod_reading_lts}}</td>
                      <td class="tester-yesterday3">{{user_logs.eod_reading_yesterday}}</td>
                    <td id="">{{user_logs.balance}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="card-footer">
        <small class="">Logged by {{user_logs.user.username}} | <a type="button" class="btn btn-sm btn-dark btn-outline-primary" href="">Details</a> </small>
    </div>
</div>