<form  #editMpesaForm="ngForm" (submit)="editItem(editMpesaForm.value)" class="padding-2 bg-light rounded shadow">
    <h5>Edit {{details.fuel_type}} Mpesa Details <span class="text-success"><i class="fa-solid fa-hashtag"></i> {{details.id}}</span></h5>  
    
    <div class="hide">
        <mat-form-field appearance="outline">
            <mat-label>Select Fuel Id </mat-label>
            <input matInput name="fuel" type="number" ngModel [(ngModel)]="details.fuel">
          </mat-form-field>
    </div><br>
        <mat-form-field  appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput name="date" #date="ngModel" ngModel type="date" [(ngModel)]="details.date" required>
            <mat-error *ngIf="date.hasError('required') || date.pristine">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>  &nbsp;&nbsp;&nbsp; 
            <mat-form-field appearance="outline">
              <mat-label>Formatted Date</mat-label>
              <input matInput name="long_date" ngModel type="text" #long_date="ngModel" [(ngModel)]="details.long_date" required>
              <mat-error *ngIf="long_date.hasError('required') || long_date.pristine">
                Formatted date is <strong>required</strong>
              </mat-error>
            </mat-form-field> <br>
            <mat-form-field appearance="outline" class="">
                <mat-label>Transaction Number</mat-label>
                <input matInput [(ngModel)]="details.transaction_no" name="transaction_no" #transaction_no="ngModel" ngModel type="text" required>
                <mat-error *ngIf="transaction_no.hasError('required') || transaction_no.pristine">
                  Transaction number is <strong>required</strong>
                </mat-error>
              </mat-form-field>  &nbsp;&nbsp;&nbsp; 
            <mat-form-field appearance="outline" class="">
                <mat-label>Customer Name</mat-label>
                <input matInput name="customer" [(ngModel)]="details.customer" #customer="ngModel" ngModel type="text" required>
                <mat-error *ngIf="customer.hasError('required') || customer.pristine">
                  Customer name is <strong>required</strong>
                </mat-error>
              </mat-form-field>  &nbsp;&nbsp;&nbsp; 
            <mat-form-field appearance="outline" class="">
                <mat-label>Customer Phone No.</mat-label>
                <input matInput name="customer_no" placeholder="e.g 712345678" [(ngModel)]="details.customer_no" #customer_no="ngModel" ngModel type="number" required min="99999999" max="999999999">
                <mat-error *ngIf="customer_no.hasError('min')">
                    Phone number should be <strong>at least 9 digits</strong>
                </mat-error>
                <mat-error *ngIf="customer_no.hasError('max')">
                    Phone number should <strong>not exceed 9 digits</strong>
                </mat-error>
                <mat-error *ngIf="customer_no.hasError('required') || customer_no.pristine">
                  Customer phone number is <strong>required</strong>
                </mat-error>
              </mat-form-field>  <br>
            <mat-form-field appearance="outline" class="">
                <mat-label>Bank Amount</mat-label>
                <input matInput [(ngModel)]="details.to_bank" name="to_bank" #to_bank="ngModel" ngModel type="number" required>
                <mat-error *ngIf="to_bank.hasError('required') || to_bank.pristine">
                  Bank amount is <strong>required</strong>
                </mat-error>
              </mat-form-field> 

      <mat-form-field appearance="outline" >
          <mat-label>Amount</mat-label>
          <input matInput name="amount" #amount="ngModel" [(ngModel)]="details.amount" ngModel type="number" required>
          <mat-error *ngIf="amount.hasError('required') || amount.pristine">
            Amount is <strong>required</strong>
          </mat-error> 
          </mat-form-field> &nbsp;&nbsp;&nbsp; 
        <mat-form-field appearance="outline" >
            <mat-label>Logged By</mat-label>
            <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username" required>
            <mat-error *ngIf="logged_by.hasError('required') || logged_by.pristine">
              This field is <strong>required</strong>
            </mat-error> 
          </mat-form-field>  &nbsp;&nbsp;&nbsp; 
   
          <mat-form-field appearance="outline">
            <mat-label>Select Your User Id </mat-label>
            <mat-select name="user" ngModel #user="ngModel" >
              <mat-option *ngFor="let a of admins"  value="{{a.id}}" name="user" ngModel #user="ngModel" type="number">{{a.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="hide">
            <mat-form-field appearance="outline" >
              <mat-label>Edited By</mat-label>
              <input matInput name="edited_by" #edited_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username">
            </mat-form-field>
          </div>
    
        <div class="form-group">
            <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="editMpesaForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="editMpesaForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="editMpesaForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
        </div>
    </form>