<div class="container color-two padding rounded">
  <div class="row color-four">
    <div class="border full-height col center color-four rounded black padding-2">
      <h2>Petrol Log Details <br> <span class=""><a routerLink="/print-report/{{logs.id}}"><button class=" margin-top btn btn-sm btn-dark btn-outline-primary">Print <img src="https://res.cloudinary.com/benie/image/upload/v1660387522/printer-g47055846b_1280_ptvrkf.png" height="40" width="40"></button></a></span> </h2>
      <h6><a routerLink="/email-report/{{logs.id}}" type="button" class="btn btn-sm btn-dark btn-outline-info">Request email report</a></h6>
      <app-initial-amount></app-initial-amount>
     

      <div class="card color-two">
        <app-logdetails-logcard></app-logdetails-logcard>
      </div>
      
      

      <span class="color-two"><a routerLink="/print-report/{{logs.id}}"><button class=" margin-top btn btn-sm btn-dark btn-outline-primary">Print <img src="https://res.cloudinary.com/benie/image/upload/v1660387522/printer-g47055846b_1280_ptvrkf.png" height="40" width="40"></button></a></span> <br><br>
      <h6><a routerLink="/email-report/{{logs.id}}" type="button" class="btn btn-sm btn-dark btn-outline-info">Request email report</a></h6>

      <div *ngIf="fuels">
                <div *ngIf="petrol_received else elseBlockPetrolReceived">
                    <h5 class="card-header text-center">Petrol Received This Day: <span>{{petrol_received.total_fuel_received_today}}</span> Lts. <span><h6><a type="button" class="btn" onclick="toggleOrderInfo()">View order(s) info</a></h6></span>  Record <a type="button" class="btn" onclick="togglePetrolRcvd()">new order</a></h5>
                    <ol id="orderInfo">
                        <h6>Receipt info <span><a type="button" class="btn btn-sm btn-dark btn-outline-danger" onclick="toggleOrderInfo()">X</a></span></h6>
                        <li class="card-text" *ngFor="let petrol_received_info of petrol_received_info">{{petrol_received_info.litres_received}} Lts. from {{petrol_received_info.received_from}}</li>
                      </ol>
                </div>
                <div>
                    <ng-template #elseBlockPetrolReceived>
                        <h5 class="card-header text-center">No petrol received this day. <button onclick="togglePetrolRcvd()">Add now?</button></h5>
                        
                    </ng-template>
                    <form id="petrolReceived" #petrolReceivedForm="ngForm" (ngSubmit)="fuelReceived(petrolReceivedForm.value)">
                        <label for="fuel">fuel</label>
                        <input type="number" id="fuel" ngModel #fuel="ngModel" name="fuel" value="1" placeholder="fuel type">
                        <label for="litres_received">Litres received</label><br>
                        <input type="number" id="litres_received" ngModel #litres_received="ngModel" name="litres_received" placeholder="Litres received" required>
                        <div [hidden]="litres_received.valid || litres_received.pristine" class="alert alert-danger">
                            <p>Litres received required</p>
                        </div>
                        <label for="received_from">Received from</label><br>
                        <input type="text" ngModel id="received_from" #received_from="ngModel" name="received_from" placeholder="Received from..." required>
                        <div [hidden]="received_from.valid || received_from.pristine" class="alert alert-danger">
                            <p>Received from input required</p>
                        </div>
                        <label for="date_received">Date received</label><br>
                        <input type="date" ngModel id="#date_received" #date_received="ngModel" name="date_received" placeholder="date_received" required>
                        <div [hidden]="date_received.valid || date_received.pristine" class="alert alert-danger">
                            <p>Date required</p>
                        </div>
                        <button type="submit" onclick="toggleInfo()" class="btn btn-sm">Submit</button>
                    </form>
                </div>
            </div>
    </div>
  </div>
</div>