<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h6 class="text-center"><i class="fa-solid fa-circle-info"></i></h6>
                    <p class="card-text">Your latest message will appear here. We will not display it whole due to space limitations.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-center"><i class="fa-solid fa-circle-info"></i></h6>
                    <p class="card-text">Incident reports will appear here. Like messages, we will show you only a snippet.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-light shadow">
                <div class="card-body">
                    <h6 class="text-center"><i class="fa-solid fa-circle-info"></i></h6>
                    <p class="card-text">Announcements will appear here. Some of them may have been created by you.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-4" *ngFor="let f of fuels">
            <div class="mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1669551030/gas-g0f86c8c32_640_hy5hzz.png" class="img-fluid rounded-start" style="max-height:100px;" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{f.fuel_type}}</h5>
                      <ul>
                        <li>{{f.pumps}} Pumps</li>
                        <li>{{f.price_per_litre}} Kes/Ltr</li>
                        <li>{{f.initial_litres_in_tank}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            
            
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-4">
            <p class="aloha shadow bg-light">Credit Cards | <i class="fa-solid fa-hand-holding-dollar"></i> <span *ngIf="logS">{{logS.amount_earned_today}}</span> <span *ngIf="!logS">0 Kes</span> today</p>
        </div>
        <div class="col-lg-4">
            <p class="aloha">Mpesa Logs | <i class="fa-solid fa-hand-holding-dollar"></i> <span *ngIf="cardS">{{cardS.amount}}</span> <span *ngIf="!cardS">0 Kes</span> today</p>
        </div>
        <div class="col-lg-4">
            <p class="aloha shadow bg-light">General Logs | <i class="fa-solid fa-hand-holding-dollar"></i> <span *ngIf="mpesaS">{{mpesaS.amount}}</span> <span *ngIf="!mpesaS">0 Kes</span> today</p>
        </div>
    </div>
</div>