<div class="bg-light shadow rounded color-two" style="width:85%">
    <p class="aloha font-md">Petrol <i class="fa-solid fa-bolt"></i></p>
</div>
<div>
    <p>
        <span>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-water"></i> Initial_litres <br> <span><h1>{{petrolSummary.initial_litres_in_tank}} <span class="x-small">Lts</span></h1></span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-hand-holding-dollar"></i> Price per litre <br> <span><h1><span class="x-small">Ksh</span> {{petrolSummary.price_per_litre}}</h1></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-gas-pump"></i> Pumps <br> <span><h1>{{petrolSummary.pumps}}</h1></span>
                </div>
                <div class="col">
                    <i class="fa-solid fa-arrow-up-from-ground-water"></i> Balance <br> <span><h1>{{petrolSummary.updated_balance}} <span class="x-small">Lts</span></h1></span>
                </div>
            </div>
        </span>
    </p>
</div>