<div class="container-fluid rounded">
    <br>
    <div class="row rounded">
        <h1 class="text-center">All {{fuelInfo.fuel_type}} Logs for {{date | date}}</h1>
        <div class="col-lg-6 rounded padding-2">
            <div *ngIf="fLogs">
                <div>
                    <div>
                        <app-logs-card [logs]="fLogs"></app-logs-card>
                        <br>
                    </div>    
                </div>
            </div>
            <div *ngIf="!fLogs">
                <div class="bg-light shadow rounded padding-2">
                  <div>
                    <app-no-logs [fuelInfo]="fuelInfo"></app-no-logs>
                  </div>
                </div>
              </div>

        </div>
            
        <div class="col-lg-6 full-height rounded black padding-2">
            <div *ngIf="fuelMpesa">
                <app-fuel-mpesa-logs [fuelMpesa]="fuelMpesa"></app-fuel-mpesa-logs>
            </div>
            <div *ngIf="!fuelMpesa">
                <div class="bg-light shadow rounded padding-2">
                  <div>
                    <app-no-mpesa [currentUser]="currentUser" [fuelInfo]="fuelInfo"></app-no-mpesa>
                  </div>
                </div>
            </div>
           
                    
                    <hr>
                    
                    <div *ngIf="fuelCards">
                        <app-fuel-card-logs [fuelCards]="fuelCards"></app-fuel-card-logs>
                    </div>
                    <div *ngIf="!fuelCards">
                        <div class="bg-light shadow rounded padding-2">
                          <div>
                            <app-no-card [currentUser]="currentUser" [fuelInfo]="fuelInfo"></app-no-card>
                          </div>
                        </div>
                      </div>
                
        </div>

        
    </div>   
</div>
<br><br><br><br><br><br><br><br>
<!-- <app-footer></app-footer> -->