<div *ngIf="!authenticated">
    <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm.value)" class="color-two f-two padding-four rounded shadow">
        <div class="text-align">
          <img src="https://res.cloudinary.com/benie/image/upload/v1662828646/icons8-user-rights-50_sgvyxm.png" height="55" width="55" alt="">
        </div>
        <h1 class="text-center">Login to continue</h1>
        <div class="row">
          <div class="col col-lg-4 padding-2">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Start typing..." name="email" ngModel #email="ngModel" type="email" [errorStateMatcher]="matcher" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>e.g <strong>your_name@provider.com</strong></mat-hint>
              <mat-error *ngIf="email.hasError('pattern')">
                Please enter a <strong>valid email address</strong>
              </mat-error>
              <mat-error *ngIf="email.hasError('required') || email.pristine">
                Email is <strong>required</strong>
              </mat-error>
              
            </mat-form-field>        
          </div>
          <div class="col col-lg-4 padding-2">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width">
              <mat-label>Employee ID</mat-label>
              <input matInput placeholder="Start typing..." name="employee_id" ngModel #employee_id="ngModel" type="number" required>
              <mat-icon matSuffix>assignment_ind</mat-icon>
              <mat-hint><span class="alert alert-danger rounded">Employees of <strong>CompanyName Kenya Ltd</strong>.</span></mat-hint>
              <mat-error *ngIf="employee_id.hasError('required') || employee_id.pristine">
                Employee ID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col col-lg-4 rounded padding-2">
            <mat-form-field appearance="outline" class="color-one padding-2 rounded shadow full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Start typing..." name="password" ngModel #password="ngModel" type="password" required>
              <mat-icon matSuffix>security</mat-icon>
              <mat-hint routerLink="/change-password/1" style="color:blueviolet;text-decoration:underline;">Forgot password?</mat-hint>
              <mat-error *ngIf="password.hasError('required') || password.pristine">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col padding-bottom center">
            <button mat-raised-button color="accent" class="margin-top w-100" type="submit" [disabled]="loginForm.invalid"><span><i class="fa-solid fa-user-check"></i></span> Login</button><br><br>
            <a routerLink="/register"><p class="small">or <strong>Sign up here</strong></p></a>
          </div>
          <div class="col"></div>
        </div>
      </form>
</div>