<div>
    <div class="card margin-top color-two">
                       
      <div class="card-body">
        <app-mpesa-log-card [mpesa]="fuelMpesa" [getFuelMpesa]="getFuelMpesa" [onTableDataChange]="onTableDataChange" [page]="page" [count]="count" [tableSize]="tableSize" [tableSizes]="tableSizes"></app-mpesa-log-card>
      </div>
      
  </div>
  
  <div>
    <div class="bg-light shadow rounded padding-2">
          <div>
            <app-no-mpesa></app-no-mpesa>
          </div>
        </div>
    </div>
  