<div class="container-fluid logInstructions break-bottom-lg breaker-bottom-md fullHeightB">
    <div class="row rounded">
        <div class="col-md-4 padding">
            <br>
            <div class="bg-light shadow padding rounded">
                <app-incident-reporting-instructions></app-incident-reporting-instructions>
            </div>
        </div>
        <div class="col-md-8 padding rounded">
            <br>
            <div class="color-two shadow padding rounded">
            <app-incident-form></app-incident-form>
            </div>
        </div>

        
    </div>
    
    
</div>

<app-footer></app-footer>