<div class="container-fluid logInstructions fullHeightB">
    <br><br><br><br>
    <div class="row rounded">
        <div class="col-md-8 rounded">
            <br>
            <div class="color-two shadow padding rounded">
                <h2 class="text-center">Report an incident</h2>
            <app-incident-form></app-incident-form>
            </div>
        </div>

        <div class="col-md-4 padding">
            <br>
            <div class="bg-light shadow padding rounded">
                <app-incident-reporting-instructions></app-incident-reporting-instructions>
            </div>
        </div>
    </div>
    
    
</div>