<div class="card bg-info">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Card no.</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let creditCard of creditCard_logs | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                  <tr>
                    <td>{{creditCard.date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{creditCard.card_name}}</td>
                    <td>{{creditCard.card_number}}</td>
                    <td><a type="button" class="btn btn-light btn-outline-primary btn-sm" routerLink="/credit-card-details/{{creditCard.id}}">Details</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
        </div>
        </div>
    </div>
    
</div>