<form #incidentForm="ngForm" (ngSubmit)="incidentReport(incidentForm.value)">
    <div class="form-group">
        <input type="text" class="" ngModel name="your_name" placeholder="Your name" [(ngModel)]="currentUser.username">
        <input type="email" ngModel name="your_email" placeholder="your email" [(ngModel)]="currentUser.email">
    </div>
    <div class="row">
        <div class="col">
            <label for="nature">Nature</label>
            <select class="form-select" name="nature" id="nature" ngModel #nature="ngModel" required>
                
                <option ngModel selected="">Choose...</option>
              
                <option ngModel value="Equipment_Failure">Equipment Failure</option>
              
                <option ngModel value="Physical_Injury">Physical Injury</option>
              
                <option ngModel value="EMERGENCY">EMERGENCY</option>
              
              </select>                </div>
        <div class="col">
            <label for="incident_date">Date</label>
    <input type="date" class="Aj-Inc form-control" #incident_date="ngModel" name="incident_date" placeholder="Incident date" ngModel>
    
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="Aj-Inc form-control" #description="ngModel" id="description" type="text" name="description" ngModel placeholder="Describe the incident"></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Description required</p>
        </div>
    </div>
    
    <div class="form-group">
        <input class="btn margin-top btn-sm btn-outline-primary btn-dark" type="submit" value="Report">
    </div>
    
            </form>
