<form #incidentForm="ngForm" (ngSubmit)="incidentReport(incidentForm.value)">
    <div class="form-group hide">
        <input type="text" class="hide" ngModel name="your_name" placeholder="Your name" [(ngModel)]="{{username}}">
    </div>
    <div class="row">
        <div class="col">
            <label for="nature">Nature</label>
            <select class="form-select" name="nature" id="nature" ngModel #nature="ngModel" required>
                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                    <p>Nature required</p>
                </div>
                <option ngModel [(ngModel)]="" selected="">Choose...</option>
              
                <option ngModel [(ngModel)]="Equipment Failure">Equipment Failure</option>
              
                <option ngModel [(ngModel)]="Physical Injury">Physical Injury</option>
              
                <option ngModel [(ngModel)]="EMERGENCY">EMERGENCY</option>
              
              </select>                </div>
        <div class="col">
            <label for="date">Date</label>
    <input type="date" class="Aj-Inc form-control" #date="ngModel" name="incident_date" placeholder="Incident date" ngModel [(ngModel)]="date">
    <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
        <p>Date required</p>
    </div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="Aj-Inc form-control" #description="ngModel" id="description" type="text" name="description" ngModel placeholder="Describe the incident"></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Description required</p>
        </div>
    </div>
    
    <div class="form-group">
        <input class="btn margin-top btn-sm btn-outline-primary btn-dark" type="submit" value="Report">
    </div>
    
            </form>
