<form [formGroup]="incidentForm" (ngSubmit)="incidentReport(incidentForm.value)">
  <h2 class="text-center">Report an incident</h2>
    <div class="form-group hide">
        <input type="text" class="" formControlName="your_name" placeholder="Your name" [(ngModel)]="currentUser.username">
        <input type="email" formControlName="your_email" placeholder="your email" [(ngModel)]="currentUser.email">
    </div>
    <div class="row">
        <div class="col-md-6 padding">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label> Select Nature </mat-label>
                
                <mat-select formControlName="nature" required>
                  <mat-option value="emergency" formControlName="emergency" type="text">EMERGENCY</mat-option>
                  <mat-option value="injury" formControlName="injury" type="text">Physical Injury</mat-option>
                  <mat-option value="equipment" formControlName="equipment" type="text">Equipment Failure</mat-option>
                </mat-select>
                <mat-hint>e.g.: EMERGENCY</mat-hint>
              </mat-form-field>
              <div *ngIf="incidentForm.controls['nature'].invalid && incidentForm.controls['nature'].touched" class="alert alert-danger">
                <div *ngIf="incidentForm.controls['nature'].errors['required']">
                  Incident nature is required.
                </div>
              </div>
                         
        </div>
        <div class="col-md-6 padding">
            

    <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Incident date" formControlName="incident_date" type="date" required>
        <mat-icon matSuffix>date</mat-icon>
      </mat-form-field> 
      <div *ngIf="incidentForm.controls['incident_date'].invalid && incidentForm.controls['incident_date'].touched" class="alert alert-danger">
        <div *ngIf="incidentForm.controls['incident_date'].errors['required']">
          Date is required.
        </div>
      </div>   
        </div>

    </div>
    
    <div class="form-group">
        <label for="description" class="shadow padding-2 bg-light">Description:</label>
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [ngModel]="html"
              [disabled]="false"
              [placeholder]="'Type here...'"
              formControlName="description"
            ></ngx-editor>
          </div>
    </div>
    
    <div class="form-group">
        <input class="btn margin-top btn-sm btn-outline-primary btn-dark" type="submit" value="Report">
    </div>
    
            </form>
