<!-- <nav class="fixed-top border">
    <div class="topnav" id="myTopnav">
      <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/benie/image/upload/v1662909278/icons8-petrol-station-66_inmt3m.png" alt="" width="30" height="30">
        LogOnGo
      </a>
      <a href="/home" class="active" routerLink="home">Home</a>
      <a class="nav-link" type="button" (click)="goToPetrolLogs(petrol_info.id)">Petrol</a>
      <a class="nav-link" type="button" (click)="goToDieselLogs(diesel_info.id)">Diesel</a>
      <a class="nav-link" type="button" (click)="goToGasLogs(gas_info.id)">Gas</a>
      <a class="nav-link" routerLink="logs">All Logs</a>
      <a class="nav-link" routerLink="add-log">Add Log</a>
            <a class="nav-link" routerLink="add-mpesa">Add Mpesa</a>
            <a class="nav-link" routerLink="incident">Report Incident</a>
            <a class="nav-link" routerLink="profile">Profile</a>
            <a class="nav-link" href="">Logout</a>
            <a class="nav-link" href="">Admin</a>
            <form class="d-flex" action="" role="search">
              <input class="form-control me-2" type="date" placeholder="Search logs by date" name="date" aria-label="Search">
              <button class="btn btn-sm btn-light margin btn-outline-success" type="submit">Search</button>
            </form>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a> -->
      <!-- <a class="nav-link" href="/login" routerLink="login">Login</a>
      <a class="nav-link" href="/register" routerLink="register">Register</a>
    </div>
     -->
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">LogOnGo</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdmin">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav> -->

  <!-- </nav><br><br><br> --> 
<nav class="navbar navbar-expand-lg color-two opacity sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/benie/image/upload/v1662909278/icons8-petrol-station-66_inmt3m.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <span style="font-family:'Carter One',cursive;font-size:24px;">LogOnGo</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!authenticated">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li> 
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="authenticated">
        <li class="nav-item">
          <a class="nav-link active" style="font-family:'Carter One',cursive;font-size:20px;" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="logs" style="font-size:20px;">All Logs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;">
            LogsToday
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="petrol_info"><a class="dropdown-item" routerLink="/petrol/{{petrol_info.id}}">Petrol</a></li>
            <li *ngIf="diesel_info"><a class="dropdown-item" routerLink="/diesel/{{diesel_info.id}}">Diesel</a></li>
            <li *ngIf="gas_info"><a class="dropdown-item" routerLink="/gas/{{gas_info.id}}">Gas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="add-log">Add Log</a></li>
            <li><a class="dropdown-item" routerLink="add-mpesa">Add Mpesa</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="font-family:'Carter One',cursive;font-size:20px;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{currentUser.username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/profile/{{currentUser.id}}">Profile</a></li>
            <li><a class="dropdown-item" href="https://logongo.herokuapp.com/admin/">Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/incident">Report Incident</a></li>
            <li><a class="dropdown-item" routerLink="/contact">Contact Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" type="button" (click)="logout();">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="form-mt-6">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." (change)="dateValue($any($event.target).value)" name="search" [(ngModel)]="searchText">
        <datalist id="datalistOptions">
            <option value="Petrol" *ngFor="let log of searchResults" [value]="log.formatted_date">                                  
        </datalist>
    </form>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="text" (mouseover)="onKey($event)" (keyup)="onKey($event)" [value]="date | date: 'yyyy-MM-dd'" placeholder="Search by date" aria-label="Search">
      <button class="btn btn-outline-success" type="button" (click)="search($event.value)">Search</button>
    </form>
    value: {{values}}
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
      <span class="sr-only"> Searching; please wait... </span>
  </div>
  <div *ngIf="fetchLogSuccess">
    <h1>Results:</h1>
    <ul *ngFor="let log of dateResults">result: 
      <li>date {{log.formatted_date}}</li>
      <li>eod {{log.eod_reading_lts}}</li>
    </ul>
  </div>
    
    <div *ngFor="let log of searchResults">
      <h1>{{log.eod_reading_lts}}</h1>
    </div>
    </div>
  </div>
</nav>
<div class="row mt-5" *ngIf="!eOD">
  <div class="col-sm-4" *ngFor="let log of searchResults | filter:searchText">
      <div class="card">
        <div name="formatted_date">{{log.formatted_date}}</div>
          <div class="title" name="user">{{log.user}}</div>
          <div name="eod_reading_lts">{{log.eod_reading_lts}}</div>
      </div>
  </div>
</div>
<div class="row mt-5" *ngIf="eOD">
  <div class="col-sm-4">
      <div class="card">
          <div class="title" name="title">{{eOD}}</div>
      </div>
  </div>
</div>
<div *ngIf="dateResults">
  <div *ngFor="let log of dateResults">
    <ul>
      <li>{{log.formatted_date}}</li>
      <li>{{log.eod_reading_lts}}</li>
    </ul>
  </div>
</div>
<div *ngIf="!dateResults">
  <h1>Sorry, we couldn't find anything</h1>
</div>

