<div class="container padding">
    <form *ngIf="!reqSent" #resetPassForm="ngForm" (ngSubmit)="requestResetPass(resetPassForm.value)" class="f-two padding-four">
      <h1 class="text-center"><i class="fa-solid fa-unlock-keyhole"></i> Reset Password</h1>
      <p *ngIf="!authenticated" class="text-center small">Please enter the username & email associated with your account. <br> We will send you a link to reset your password.</p>
      <p *ngIf="authenticated" class="text-center small">We will send a link to the email associated with your account. <br> Please use the link to reset your password.</p>
      <br>        
      <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <div *ngIf="!authenticated">
                    <mat-form-field appearance="fill" class="rounded full-width">
                      <mat-label>Username</mat-label>
                        <input matInput name="username" ngModel #username="ngModel" type="text" required>
                      <mat-error *ngIf="username.hasError('required') || username.pristine">
                        Username is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    <br><br>
               
                    <mat-form-field appearance="fill" class="rounded full-width">
                      <mat-label>Email</mat-label>
                        <input matInput name="email" ngModel #email="ngModel" type="email" required>
                      <mat-error *ngIf="email.hasError('required') || email.pristine">
                        Email is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="email.hasError('pattern')">
                        Please enter a <strong>valid email address</strong>
                      </mat-error>
                    </mat-form-field><br><br>
                  </div>
                  <div *ngIf="authenticated" class="hide">
                    <mat-form-field appearance="fill" class="rounded full-width">
                      <mat-label>Username</mat-label>
                      <div *ngIf="!authenticated">
                        <input matInput name="username" ngModel #username="ngModel" type="text">
                      </div>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="rounded full-width">
                      <mat-label>Email</mat-label>
                      <div *ngIf="!authenticated">
                        <input matInput name="email" ngModel #email="ngModel" type="email" [(ngModel)]="currentUser.email">
                      </div>
                    </mat-form-field>
                  </div>
                  
          <div class="form-group text-center">
              <button mat-raised-button color="accent" [disabled]="resetPassForm.invalid" class="margin-top w-100" type="submit"><span><i class="fa-solid fa-paper-plane"></i></span> Send me the link</button><br><br>
              <a *ngIf="authenticated" type="button" routerLink="/auth/change/password"><p class="small">or <strong>Change Password</strong></p></a>
          </div>
                </div>
                <div class="col-lg-3"></div>
              </div>
    </form>
  </div>