<div class="container-fluid">
<br>   
<h1 class="text-center"> Add All {{fuelInfo.fuel_type}} Logs</h1>
<hr>
    <div class="row">
        <div class="col-sm-7">
            
            <mat-tab-group dynamicHeight>
                <mat-tab label="Add Log">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1669948948/undraw_elements_re_25t9_bikar5.svg" height="auto" style="width:70%;" alt=""> 
                     Click on a tab 
                    </mat-tab>
                <mat-tab label="General Logs">
                    <app-add-log [fuelId]="fuelId" [fuelInfo]="fuelInfo"></app-add-log>
                </mat-tab>
                <mat-tab label="Card Logs">
                <app-add-card [fuelInfo]="fuelInfo" [currentUser]="currentUser"></app-add-card>
                </mat-tab>
                <mat-tab label="Mpesa Logs">
                <app-add-mpesa [fuelInfo]="fuelInfo" [currentUser]="currentUser"></app-add-mpesa>
                </mat-tab>
            </mat-tab-group>
            
        </div>
        <br><br>
        <div class="col-md-5">
            <app-fuel-received [noneRcvd]="noneRcvd" [noFuel]="noFuel" [fuelType]="fuelType" [fuelId]="fuelId" [fuelReceived]="fuelReceived" [fuelTotal]="fuelTotal"></app-fuel-received>
        </div>
    </div>
    <br><br><br>
   
