<div class="container-fluid">
    <div class="row color-two">
        <div class="col-lg-4">
            <br><br>
            <app-mpesa-instructions></app-mpesa-instructions>
        </div>
        <div class="col-lg-4">
            <br><br>
                <app-logging-instructions></app-logging-instructions>
        </div>
        <div class="col-lg-4">
            <br><br>
            <app-card-instructions></app-card-instructions>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7">
            
            <mat-tab-group>
                <mat-tab label="Add Log">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1669948948/undraw_elements_re_25t9_bikar5.svg" height="auto" style="width:70%;" alt=""> 
                     Click on a tab 
                    </mat-tab>
                <mat-tab label="General Logs">
                    <app-add-log [fuelInfo]="fuelInfo"></app-add-log>
                </mat-tab>
                <mat-tab label="Card Logs">
                <app-add-card [fuelInfo]="fuelInfo" [currentUser]="currentUser"></app-add-card>
                </mat-tab>
                <mat-tab label="Mpesa Logs">
                <app-add-mpesa [fuelInfo]="fuelInfo" [currentUser]="currentUser"></app-add-mpesa>
                </mat-tab>
            </mat-tab-group>
            
        </div>
        <br><br>
        <div class="col-md-5">
            <app-fuel-received [noneRcvd]="noneRcvd" [noFuel]="noFuel" [fuelType]="fuelType" [fuelId]="fuelId" [fuelReceived]="fuelReceived" [fuelTotal]="fuelTotal"></app-fuel-received>
        </div>
    </div>
   
