<!-- <app-navbar></app-navbar> -->
<div class="container-fluid center" id="landing-bg">
    <div>
      <div class="row padding">
        <div class="col-lg-4 bg-light shadow">
          <h1 class="padding info">About LogOnGo <span><img src="https://res.cloudinary.com/benie/image/upload/v1662904979/pistol-160119_1280_bbtxbm.png" height="40" width="50"></span></h1>
          <app-about></app-about>
        </div>
        <div class="col-lg-4 shadow color-one rounded">
          <h2 class="padding">Who will use it? <img src="https://res.cloudinary.com/benie/image/upload/v1662907281/no-admittance-98740_1280.3_yhsrnt.png" height="40" width="50" alt="..."></h2>
          <app-using-logongo></app-using-logongo>
        </div>
        <div class="col-lg-4 bg-light shadow">
          <h3 class="padding">Setting things up... <img src="https://res.cloudinary.com/benie/image/upload/v1662904323/emoticon-1610228_mrmoig.png" height="40" width="50" alt="..."></h3>
          <app-setting-up></app-setting-up>
        </div>
      </div>
    </div>
  </div>
