<h2 class="text-center">Reporting Incidents</h2>
            <ul>
                <li>Please enter as much relevant information as possible--describe to the best of your ability.</li>
                <li>We will email your report instantly <img src="https://res.cloudinary.com/benie/image/upload/v1659085332/blue-light-2020909_640_ewrf8o.png" width="15" height="15" alt=""> to the management.</li>
                <li>If safety is a concern, please take precautionary measures.</li>
            </ul>