
  <nav class="navbar navbar-expand-lg color-two opacity sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/benie/image/upload/v1662909278/icons8-petrol-station-66_inmt3m.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        <span style="font-family:'Carter One',cursive;font-size:24px;">LogOnGo</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!authenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth">Login</a>
          </li> 
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="authenticated">
          <li class="nav-item">
            <a class="nav-link active" style="font-family:'Carter One',cursive;font-size:20px;" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/logs/all" style="font-size:20px;">All Logs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;">
              LogsToday
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let info of fuels"><a class="dropdown-item" routerLink="/logs/today/fuel/{{info.id}}">{{info.fuel_type}}</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;">
              Add Log
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let info of fuels">
                <a class="dropdown-item" routerLink="/logs/add/{{info.fuel_type}}/{{info.id}}">{{info.fuel_type}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="font-family:'Carter One',cursive;font-size:20px;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{currentUser.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/user/{{currentUser.username}}/profile/{{currentUser.id}}">Profile</a></li>
              <li><a class="dropdown-item" href="https://logongo-staff.web.app/" *ngIf="isSuper || isStaff">Admin</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/user/{{currentUser.username}}/report/incident">Report Incident</a></li>
              <li><a class="dropdown-item" routerLink="/user/{{currentUser.username}}/contact/admin">Contact Admin</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" type="button" (click)="logout();">Logout</a></li>
            </ul>
          </li>
        </ul>
        <div *ngIf="authenticated">
          <a type="button" routerLink="/logs/search" mat-flat-button color="accent"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
        </div>
        
    
      
      
      </div>
    </div>
  </nav>
  