<div class="container padding" *ngIf="!authenticated">
  <form [formGroup]="form" (submit)="submit()" class="color-two f-two padding-four rounded shadow">
    <div class="text-align">
      <img src="https://res.cloudinary.com/benie/image/upload/v1662828646/icons8-user-rights-50_sgvyxm.png" height="55" width="55" alt="">
    </div>
    <h1 class="text-center">Login to continue</h1>
    <div class="row">
      <div class="col"></div>
      <div class="col margin">
        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email address" formControlName="email" type="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint>e.g: your_name@provider.com</mat-hint>
        </mat-form-field>        
        <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="alert alert-danger">
          <div *ngIf="form.controls['email'].errors['required']">
            Email is required.
          </div>
          <div *ngIf="form.controls['email'].errors['email']">
            Please provide a valid email address.
          </div>
        </div>
      </div>
      <div class="col margin">
        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width">
          <mat-label>Employee ID</mat-label>
          <input matInput placeholder="Enter your employee ID" formControlName="employee_id" type="number" required>
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-hint><span class="bg-danger white">Employees of Pebo Kenya Ltd.</span></mat-hint>
        </mat-form-field>
        <div *ngIf="form.controls['employee_id'].invalid && form.controls['employee_id'].touched" class="alert alert-danger">
          <div *ngIf="form.controls['employee_id'].errors['required']">
            Employee ID is required.
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col margin rounded  margin-top margin-bottom">
          <mat-form-field appearance="outline" class="color-one padding-2 rounded shadow full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" formControlName="password" type="password" required>
            <mat-icon matSuffix>security</mat-icon>
            <mat-hint>Forgot password?</mat-hint>
          </mat-form-field>
          <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="alert alert-danger">
            <div *ngIf="form.controls['password'].errors['required']">
              Password is required.
            </div>
          </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col padding-bottom">
        <button class="w-100 margin-top btn btn-sm btn-light btn-outline-dark" type="submit" [disabled]="form.invalid"><img src="https://res.cloudinary.com/benie/image/upload/v1662830129/icons8-login-64_glcxs4.png" height="60" width="60" alt=""></button>
        <p>Don't have an account? <a routerLink="register">Sign up here</a></p>
      </div>
      <div class="col"></div>
    </div>
  </form>
</div>

<div *ngIf="authenticated">
  <app-landing></app-landing>
</div>

<p>
  
</p>
<p>
  
</p>
<p>
  
</p>
