<div class="container">
  <form  #addCardForm="ngForm" (submit)="addCard(addCardForm.value)" id="addCardForm" class="padding-2 bg-light rounded shadow">
    <h6>Add Card Log Details</h6>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Select Fuel Id </mat-label>
      <mat-select name="fuel" ngModel #fuel="ngModel" required>
        <mat-option *ngFor="let f of fuels"  value="{{f.id}}" name="fuel" ngModel #fuel="ngModel" type="number" required>{{f.fuel_type}}</mat-option>
      </mat-select>
      <mat-error *ngIf="fuel.hasError('required') || fuel.pristine">
        Fuel is <strong>required</strong>
      </mat-error> 
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput name="amount" #amount="ngModel" ngModel type="number" required>
      <mat-error *ngIf="amount.hasError('required') || amount.pristine">
        Amount is <strong>required</strong>
      </mat-error> 
    </mat-form-field>
    <br>
    <mat-form-field  appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput name="date" #date="ngModel" ngModel type="date" required>
      <mat-error *ngIf="date.hasError('required') || date.pristine">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp; 
    <mat-form-field appearance="outline">
      <mat-label>Formatted Date</mat-label>
      <input matInput name="long_date" ngModel type="text" #long_date="ngModel" [ngModel]="tdate" required>
      <mat-error *ngIf="long_date.hasError('required') || long_date.pristine">
        Formatted date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Card Name</mat-label>
      <input matInput name="card_name" #card_name="ngModel" ngModel type="text" required>
      <mat-error *ngIf="card_name.hasError('required') || card_name.pristine">
        Card name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp; 
    <mat-form-field appearance="outline" >
      <mat-label>Card Number</mat-label>
      <input matInput name="card_no" #card_no="ngModel" ngModel type="number" min="999999999999999" max="10000000000000000" required>
      <mat-error *ngIf="card_no.hasError('min')">
        Card number should be at least <strong>16 digits</strong>
      </mat-error>
      <mat-error *ngIf="card_no.hasError('max')">
        Card number cannot exceed <strong>16 digits</strong>
      </mat-error>
      <mat-error *ngIf="card_no.hasError('required') || card_no.pristine">
        Card number is <strong>required</strong>
      </mat-error> 
    </mat-form-field>  
    <br>
    <mat-form-field appearance="outline" >
      <mat-label>Logged By</mat-label>
      <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username" required>
      <mat-error *ngIf="logged_by.hasError('required') || logged_by.pristine">
        This field is <strong>required</strong>
      </mat-error> 
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="outline">
      <mat-label>Select Your User Id </mat-label>
      <mat-select name="user" ngModel #user="ngModel" >
        <mat-option *ngFor="let a of admins"  value="{{a.id}}" name="user" ngModel #user="ngModel" type="number">{{a.username}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="form-group">
      <button type="submit" class="margin-top" mat-raised-button color="accent" [disabled]="addCardForm.invalid" (click)="reload()">Save</button>
      &nbsp;&nbsp;
      <button type="submit" (click)="reset();" class="margin-top" mat-flat-button color="accent" [disabled]="addCardForm.invalid">Save and add another</button>
    </div>
  </form>
</div>