<h2 class="text-center">Log guidelines</h2>
                <ul>
                    <li>Confirm that the information you enter is correct</li>
                    <li>Enter only data. <small>E.g <span><strong>Litres:</strong></span> <small>your_input > </small> 1000 litres <img src="https://res.cloudinary.com/benie/image/upload/v1659072136/button-31222_640_gqfhx8.png" width="15" height="15" alt=""> ; your_input > 1000 <img src="https://res.cloudinary.com/benie/image/upload/v1659072141/check-37583_640_tjmqls.png" height="15" width="15" alt=""></small> </li>
                    <li>Please not that you can only log Petrol, Diesel, and Gas only once a day.</li>
                    <li>In case you need to edit any details, follow the 'edit' link.</li>
                    <li>You will find the 'edit' option in the home page or log details page.</li>
                </ul>