<div class="container print">
    <a type="button" class="btn btn-sm btn-dark btn-outline-primary" onclick="printMpesaData();togglePrintMpesaData();" id=""><img src="https://res.cloudinary.com/benie/image/upload/v1660387522/printer-g47055846b_1280_ptvrkf.png" alt="" height="60" width="60"> <span><h1 class="print margin-top">Report</h1></span></a>
    <div id="printMpesaData">
        <h3 class="print"><a href="">Go back</a> or <a type="button" class="btn btn-sm btn-dark btn-outline-info" onclick="refreshPrintMpesa()">reload page</a></h3>
      </div>
  </div>
<div class="container padding rounded">
    <div class="row">
      
      
        <div class="border full-height col center rounded black padding-2">
          
            <!-- <h2 class="text-center">General</h2> -->
            <div class="card print">
              
                <h5 class="card-header print">{{mpesaDetails.date}} </h5>
                
                <div class="card-body print">
                    <div class="table-responsive print" id="table" name="table">
                        <table class="table print">
                          <thead class="table print">
                            <tr>
                              <th scope="col" class="print">Transaction no.</th>
                              <th scope="col" class="print">Customer name</th>
                              <th scope="col" class="print">Customer phone number</th>
                              <th scope="col" class="print">Amount</th>
                              <th scope="col" class="print">Bank amount</th>
                              <th scope="col" class="print">Daily total</th>
                              <th scope="col" class="print">Cumulative amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td class="print">{{mpesaDetails.transaction_number}}</td>
                                <td class="print">{{mpesaDetails.customer_name}}</td>
                                <td class="print">{{mpesaDetails.customer_phone_number}}</td>
                                <td class="print">{{mpesaDetails.amount}}</td>
                                <td class="print">{{mpesaDetails.amount_transferred_to_bank}}</td>
                                <td class="print">{{mpesaDetails.daily_total}}</td>
                                <td class="print">{{mpesaDetails.cumulative_amount}}</td>
                            </tr>
                          </tbody>
                          </table>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="print">First logged on {{mpesaDetails.first_logged | date}} by {{mpesaDetails.logged_by}} </small>
                </div>
                <p><small class="print" *ngIf="mpesaDetails.first_logged != mpesaDetails.last_edited"> >>> Last edited on {{mpesaDetails.last_edited | date }}</small></p>
            </div>
            
          
       
            
            
          
            
            
                
           
        </div>


        </div>
</div>