<div class="container">
    <div class="padding-2">
        <form #fuelForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="addFuel(fuelForm.value)" id="fuelForm">
          <h5>Add Fuel</h5>  <br>
          <mat-form-field appearance="outline">
                <mat-label>Fuel Type</mat-label>
                
                <mat-select name="fuel_type" ngModel #fuel_type="ngModel" required>
                  <mat-option value="Petrol" name="fuel_type" ngModel #fuel_type="ngModel" type="text">Petrol</mat-option>
                  <mat-option value="Diesel" name="fuel_type" ngModel #fuel_type="ngModel" type="text">Diesel</mat-option>
                  <mat-option value="Gas" name="fuel_type" ngModel #fuel_type="ngModel" type="text">Gas</mat-option>
                </mat-select>
                <mat-error *ngIf="fuel_type.hasError('required') || fuel_type.pristine">
                    Fuel type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Price Per Litre </mat-label>
                  <input matInput type="number" name="pp_litre" #pp_litre="ngModel" ngModel required>
                  <mat-error *ngIf="pp_litre.hasError('required') || pp_litre.pristine">
                    Price per litre is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Pumps </mat-label>
                  <input matInput type="number" name="pumps" #pumps="ngModel" ngModel required>
                  <mat-error *ngIf="pumps.hasError('required') || pumps.pristine">
                    Pumps value is <strong>required</strong>
                  </mat-error>
              </mat-form-field><br>
            
            <mat-form-field appearance="outline">
                <mat-label>Initial Litres in Tank </mat-label>
                  <input matInput type="number" name="tank_init" #tank_init="ngModel" ngModel required>
                  <mat-error *ngIf="tank_init.hasError('required') || tank_init.pristine">
                    Initial tank quantity is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
           
              
              <div class="form-group bg-light">
                <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="fuelForm.invalid" (click)="reload()">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="fuelForm.invalid">Save and add another</button>
              </div>
              
        </form>
    </div>
</div>