

<div class="container-fluid logInstructions fullHeightB">
    
    <div class="row">
        <div class="col-lg-2 padding"></div>
        <div class="col-lg-8 rounded">
            <br><br>
            <div class="color-two shadow padding rounded" style="height:500px;">
                <h2 class="text-center">Contact management</h2>
                <app-contact-form></app-contact-form>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
    
    
</div>
<br><br>
<app-footer></app-footer>