

<div class="container-fluid logInstructions fullHeightB">
    <br><br><br><br>
    <div class="row rounded">
        <div class="col-md-2 padding"></div>
        <div class="col-md-8 rounded">
            <br>
            <div class="color-two shadow padding rounded" style="height:500px;">
                <h2 class="text-center">Contact management</h2>
                <app-contact-form></app-contact-form>
            </div>
        </div>

        <div class="col-md-2 padding"></div>
    </div>
    
    
</div>