<form *ngIf="!closed" [formGroup]="mpesaForm" (submit)="addMpesaLog(mpesaForm.value)" class="color-two f-two padding-four rounded shadow">
  <h2 class="text-center">Add Mpesa Log <span style="float:right;" (click)="closeForm()" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span></h2>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Date</mat-label>
                <input matInput placeholder="Enter date" formControlName="date" type="date" required>
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
              <div *ngIf="mpesaForm.controls['date'].invalid && mpesaForm.controls['date'].touched" class="alert alert-danger">
                <div *ngIf="mpesaForm.controls['date'].errors['required']">
                  Date is required.
                </div>
              </div>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Transaction Number</mat-label>
                <input matInput placeholder="Enter transaction number" formControlName="transaction_number" type="text" required>
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
              <div *ngIf="mpesaForm.controls['transaction_number'].invalid && mpesaForm.controls['transaction_number'].touched" class="alert alert-danger">
                <div *ngIf="mpesaForm.controls['transaction_number'].errors['required']">
                  Transaction number is required.
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Customer name</mat-label>
                <input matInput placeholder="Enter customer's name" formControlName="customer_name" type="text" required>
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
              <div *ngIf="mpesaForm.controls['customer_name'].invalid && mpesaForm.controls['customer_name'].touched" class="alert alert-danger">
                <div *ngIf="mpesaForm.controls['customer_name'].errors['required']">
                  Customer name is required.
                </div>
              </div>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Customer phone number</mat-label>
                <input matInput placeholder="Enter customer's phone number" formControlName="customer_phone_number" type="number" required>
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
              <div *ngIf="mpesaForm.controls['customer_phone_number'].invalid && mpesaForm.controls['customer_phone_number'].touched" class="alert alert-danger">
                <div *ngIf="mpesaForm.controls['customer_phone_number'].errors['required']">
                  Customer phone number is required.
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Enter amount" formControlName="amount" type="number" required>
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
              <div *ngIf="mpesaForm.controls['amount'].invalid && mpesaForm.controls['amount'].touched" class="alert alert-danger">
                <div *ngIf="mpesaForm.controls['amount'].errors['required']">
                  Amount is required.
                </div>
              </div>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Amount transferred to bank</mat-label>
                <input matInput placeholder="Enter amount transferred to bank" formControlName="amount_transferred_to_bank" type="number">
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>        
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Logged by</mat-label>
                <input matInput formControlName="logged_by" type="text" [(ngModel)]="currentUser.username">
                <mat-icon matSuffix>date</mat-icon>
              </mat-form-field>   
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>User id</mat-label>
                <input matInput formControlName="user" type="number" [(ngModel)]="currentUser.id">
                <mat-icon matSuffix>date</mat-icon>
                <mat-hint>e.g: </mat-hint>
              </mat-form-field>   
        </div>
        
    </div>

    <div class="form-group">
        <input class="btn margin btn-sm btn-outline-primary btn-dark" type="submit" value="Log mpesa">
    </div>
</form>