<div class="color-two shadow rounded padding-2">
    <p><span><mat-icon>check</mat-icon></span>Step 1: <button disabled type="button" mat-raised-button color="accent" class="margin-bottom">Register</button> for an employee account.</p>
</div>
<br>
<div class="color-two shadow rounded padding-2">
    <p><span><mat-icon>check</mat-icon>Step 2: <button type="button" disabled class="margin-bottom" mat-raised-button color="accent">Log in</button> to your new account. </span></p>
</div>
<br>
<div class="color-two shadow rounded">
    <p><span><mat-icon>check</mat-icon>Step 3: Record the day's logs...</span></p>
    <p><span><mat-icon>check</mat-icon>or view your profile page.</span></p>
</div>