<div class="color-two margin-top padding-2 rounded">
    <h6 class="text-center">Add {{fuelInfo.fuel_type}} Mpesa Logs</h6>
    <form #mpesaForm="ngForm" (ngSubmit)="addMpesaLog(mpesaForm.value)">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" name="date" #date="ngModel" ngModel type="date" [(ngModel)]="today" required min="{{today}}" max="{{today}}">
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g <strong>02/22/2022</strong></mat-hint>
                    <mat-error *ngIf="date.hasError('required') || date.pristine">
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
                  <div class="hide">
                    <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                      <mat-label>Formatted Date</mat-label>
                      <input matInput name="formatted_date" ngModel [(ngModel)]="tdate" type="text">
                    </mat-form-field> 
                  </div>   
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Transaction Number</mat-label>
                    <input matInput placeholder="Transaction Number" name="transaction_number" #transaction_number="ngModel" ngModel type="text" required>
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>e.g <strong>QWYQUAK1283</strong></mat-hint>
                    <mat-error *ngIf="transaction_number.hasError('required') || transaction_number.pristine">
                      Transaction number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Customer Name</mat-label>
                    <input matInput placeholder="Customer Name" name="customer_name" #customer_name="ngModel" ngModel type="text" required>
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>e.g <strong>John Anko Doe</strong></mat-hint>
                    <mat-error *ngIf="customer_name.hasError('required') || customer_name.pristine">
                      Customer name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Customer Phone No.</mat-label>
                    <input matInput placeholder="Customer Phone No." name="customer_phone_number" #customer_phone_number="ngModel" ngModel type="number" required min="99999999" max="999999999">
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>e.g <strong>712345678</strong></mat-hint>
                    <mat-error *ngIf="customer_phone_number.hasError('min')">
                        Phone number should be <strong>at least 9 digits</strong>
                    </mat-error>
                    <mat-error *ngIf="customer_phone_number.hasError('max')">
                        Phone number should <strong>not exceed 9 digits</strong>
                    </mat-error>
                    <mat-error *ngIf="customer_phone_number.hasError('required') || customer_phone_number.pristine">
                      Customer phone number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" name="amount" #amount="ngModel" ngModel type="number" required>
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>e.g <strong>1200</strong></mat-hint>
                    <mat-error *ngIf="customer_phone_number.hasError('required') || customer_phone_number.pristine">
                      Customer phone number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
            </div>
            <div class="col">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Bank Amount</mat-label>
                    <input matInput placeholder="Bank Amount" [(ngModel)]="default" name="amount_transferred_to_bank" #amount_transferred_to_bank="ngModel" ngModel type="number" required>
                    <mat-icon matSuffix></mat-icon>
                    <mat-hint>e.g <strong>1200</strong></mat-hint>
                    <mat-error *ngIf="amount_transferred_to_bank.hasError('required') || amount_transferred_to_bank.pristine">
                      Bank amount is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> 
            </div>
            <div class="col hide">
                <input type="number" ngModel [(ngModel)]="fuelInfo.id" name="fuel">
                <input type="number" ngModel id="user" #user="ngModel" [(ngModel)]="currentUser.id" class="" name="user">
                <input  type="text" ngModel id="logged_by" #logged_by="ngModel" [(ngModel)]="currentUser.username" class="" name="logged_by">
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn margin btn-lg w-75 btn-outline-success btn-light" type="submit" [disabled]="mpesaForm.invalid">Add Mpesa</button>
        </div>
    </form>
</div>
