<div class="container-fluid rounded">
    <div class="row padding">
      <div class="col-sm-1"></div>
        <div class="full-height bg-light col-lg-10 center color-four rounded black padding-2">
            <h2>CreditCard Details </h2>
            <div class="card color-two">
                <h5 class="card-header"><span class="" style="float:left;"><a routerLink="/credit-card-report/{{creditCardDetails.id}}"><button class=" margin-top btn btn-sm btn-light btn-outline-primary">Print <i class="fa-solid fa-print"></i></button></a></span> {{creditCardDetails.date}} <span style="float:right;"><a routerLink="/email-credit-card-report/{{creditCardDetails.id}}" type="button" class="btn btn-sm btn-light btn-outline-primary"> <i class="fa-solid fa-paper-plane"></i> email</a></span></h5>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Card name</th>
                                <th scope="col">Card number</th>
                                <th scope="col">Daily total</th>
                                <th scope="col">Cumulative amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{creditCardDetails.id}}</td>
                                <td>{{creditCardDetails.date}}</td>
                                <td>{{creditCardDetails.amount}}</td>
                                <td>{{creditCardDetails.card_name}}</td>
                                <td>{{creditCardDetails.card_number}}</td>
                                <td>{{creditCardDetails.daily_total}}</td>
                                <td>{{creditCardDetails.cumulative_amount}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="card-footer">
                        <small><span><button class="btn btn-sm btn-light btn-outline-danger" type="button" (click)="delWarn()"><span><i class="fa-solid fa-trash-arrow-up"></i></span> Delete</button></span> >>> First logged by {{creditCardDetails.logged_by}} on {{creditCardDetails.first_logged | date: 'medium'}} </small>
                    </div>
                    <p class="margin-top"><a type="button" class="btn btn-sm btn-dark btn-outline-warning" (click)="reportWarn()"><i class="fa-solid fa-pen-to-square"></i> details </a> <span *ngIf="creditCardDetails.first_logged != creditCardDetails.last_edited"><small> >>> Last edited on {{creditCardDetails.last_edited | date: 'medium'}}</small></span></p>
                </div>
                
                <div *ngIf="!closed">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-md-8 rounded">
                            
                            <form class="rounded bg-light padding-2 shadow margin" *ngIf="updateConfirmed" #creditCardUpdateForm="ngForm" (ngSubmit)="updateCreditCardDetails(creditCardUpdateForm.value)">
                                <h6 class="margin-top">CreditCard Update Form <span style="float:right;" (click)="toggleUpdateForm()" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span></h6>
                                
                                <div class="row">
                                    <div class="col-lg-6 rounded padding-2 rounded">
                                        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                            <mat-label>Date</mat-label>
                                            <input matInput placeholder="Enter date" name="date" #date="ngModel" ngModel type="text" [(ngModel)]="creditCardDetails.date" required>
                                            <mat-icon matSuffix>date</mat-icon>
                                            <mat-hint><span *ngIf="!errDate">e.g <strong>2022-02-22</strong></span> <span *ngIf="errDate" class="bold" style="color:red;">{{errDate}}</span></mat-hint>
                                            <mat-error *ngIf="date.hasError('required') || date.pristine">
                                              Date is <strong>required</strong>
                                            </mat-error>
                                          </mat-form-field>        
                                          
                                    </div>
                                    <div class="col-lg-6 padding-2 rounded">
                                        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                            <mat-label>Card name</mat-label>
                                            <input matInput placeholder="Enter card name" name="card_name" #card_name="ngModel" ngModel type="text" [(ngModel)]="creditCardDetails.card_name" required>
                                            <mat-hint><span *ngIf="!errName">e.g <strong>JOHN KURIA DOE</strong></span> <span *ngIf="errName" class="alert alert-danger">{{errName}}</span></mat-hint>
                                            <mat-error *ngIf="card_name.hasError('required') || card_name.pristine">
                                              Card name is <strong>required</strong>
                                            </mat-error>
                                          </mat-form-field>        
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col-lg-6 padding-2 rounded">
                                        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                            <mat-label>Card number</mat-label>
                                            <input matInput placeholder="Enter card number" name="card_number" #card_number="ngModel" ngModel type="number" [(ngModel)]="creditCardDetails.card_number" min="999999999999999" max="10000000000000000" required>
                                            <mat-hint><span *ngIf="!errNo">e.g <strong>1111 2222 3333 4444</strong></span> <span *ngIf="errNo" class="alert alert-danger">{{errNo}}</span></mat-hint>
                                            <mat-error *ngIf="card_number.hasError('min')">
                                              Card number should be at least <strong>16 digits</strong>
                                            </mat-error>
                                            <mat-error *ngIf="card_number.hasError('max')">
                                              Card number cannot be more than <strong>16 digits</strong>
                                            </mat-error>
                                            <mat-error *ngIf="card_number.hasError('required') || card_number.pristine">
                                              Card number is <strong>required</strong>
                                            </mat-error> 
                                          </mat-form-field>  
                                    </div>
                                    <div class="col-lg-6 padding-2 rounded">
                                        <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                            <mat-label>Amount</mat-label>
                                            <input matInput placeholder="Enter amount" name="amount" #amount="ngModel" ngModel type="number" [(ngModel)]="creditCardDetails.amount" required>
                                            <mat-hint><span *ngIf="!errAmount">e.g <strong>1200</strong></span> <span *ngIf="errAmount" class="alert alert-danger">{{errAmount}}</span></mat-hint>
                                            <mat-error *ngIf="amount.hasError('required') || amount.pristine">
                                              Amount is <strong>required</strong>
                                            </mat-error> 
                                          </mat-form-field>  
                                    </div>
                                </div>
    
                                
                                <div class="form-group">
                                    <button class="btn margin btn-sm btn-outline-info btn-dark" type="submit" [disabled]="creditCardUpdateForm.invalid">Update</button>
                                </div> 
                            </form> 
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                  
                </div>
            </div>
            
        </div>
        <div class="col-sm-1"></div>
    </div>  
    
    
</div>
<br><br><br><br><br> 
