<br>
<div class="container-fluid color-two">
    <br><br><br>
    <div class="row">
        <h1 class="text-center">All Logs</h1>
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            {% if all_logs %}
            {% for log in all_logs %} 
            <app-profile-logcard></app-profile-logcard>
            {% endfor %}
            {% else %} 
            <app-no-logs></app-no-logs>
            {%endif%}
            <app-add-log></app-add-log>
        </div>

        <div class="col-md-6 full-height color-four rounded black padding-2 border">
            <h2 class="text-center">Mpesa</h2>
            {% if all_mpesa_logs %}
            {% for mpesa in all_mpesa_logs %}
            <app-profile-mpeslogs></app-profile-mpeslogs>
            {% endfor %}
            {% else %} 
            <app-profile-nompeslogs></app-profile-nompeslogs>
            {%endif%}
        </div>
        
        
    </div>
    
    

    
    

    
</div>