<br>
<div class="container-fluid color-two">
    <br><br><br>
    <div class="row">
        <h1 class="text-center">All Logs</h1>
        
        <div class="border full-height col-md-6 color-four rounded black padding-2">
            <h2 class="text-center">General</h2>
            <app-all-logs-card></app-all-logs-card>
        </div>

        <div class="col-md-6 full-height color-four rounded black padding-2 border">
            <h2 class="text-center">Mpesa</h2>
            <div *ngIf="mpesa_logs else elseBlockMpesa">
                <app-all-mpesa-card></app-all-mpesa-card>
            </div>
            <div>
                <ng-template #elseBlockMpesa>
                    <app-no-mpesalogs></app-no-mpesalogs>
                </ng-template>
            </div>
        </div>
        
        
    </div>
    
    

    
    

    
</div>