<div class="container-fluid rounded">
        <div class="row padding">
          <div class="col-sm-2"></div>
            <div class="full-height bg-light col-lg-20 center color-four rounded black padding-2">
                <h2>Mpesa Details </h2>
                <h6></h6>
                <div class="card color-two">
                    <h5 class="card-header"><span class="" style="float:left;"><a routerLink="/mpesa-report/{{mpesaDetails.id}}"><button class=" margin-top btn btn-sm btn-light btn-outline-primary">Print <i class="fa-solid fa-print"></i></button></a></span> {{mpesaDetails.date}} <span style="float:right;"><a routerLink="/email-mpesa-report/{{mpesaDetails.id}}" type="button" class="btn btn-sm btn-light btn-outline-primary"> <i class="fa-solid fa-paper-plane"></i> email</a></span></h5>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Transaction no.</th>
                                    <th scope="col">Customer name</th>
                                    <th scope="col">Customer phone number</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Bank amount</th>
                                    <th scope="col">Daily total</th>
                                    <th scope="col">Cumulative amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{mpesaDetails.id}}</td>
                                    <td>{{mpesaDetails.transaction_number}}</td>
                                    <td>{{mpesaDetails.customer_name}}</td>
                                    <td>{{mpesaDetails.customer_phone_number}}</td>
                                    <td>{{mpesaDetails.amount}}</td>
                                    <td>{{mpesaDetails.amount_transferred_to_bank}}</td>
                                    <td>{{mpesaDetails.daily_total}}</td>
                                    <td>{{mpesaDetails.cumulative_amount}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        <div class="card-footer">
                            <small class="">First logged by {{mpesaDetails.logged_by}} on {{mpesaDetails.first_logged | date: 'medium'}} </small>
                        </div>
                        <p class="margin-top"><a type="button" class="btn btn-sm btn-light btn-outline-primary" (click)="reportWarn()"><i class="fa-solid fa-pen-to-square"></i> details </a> <span *ngIf="mpesaDetails.first_logged != mpesaDetails.last_edited"><small> >>> Last edited on {{mpesaDetails.last_edited | date: 'medium'}}</small></span></p>
                    </div>
                    
                    <div *ngIf="!closed">
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-md-8 rounded">
                                
                                <form class="rounded bg-light shadow margin" *ngIf="updateConfirmed" [formGroup]="updateForm" (ngSubmit)="updateMpesaDetails()">
                                    <h6 class="margin-top">Mpesa Update Form <span style="float:right;" (click)="toggleUpdateForm()" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span></h6>
                                    
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Date</mat-label>
                                                <input matInput placeholder="Date" formControlName="date" type="text" [(ngModel)]="mpesaDetails.date" required>
                                                <mat-icon matSuffix>date</mat-icon>
                                                <mat-hint>e.g: janja kip</mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['date'].invalid && mpesaUpdateForm.controls['date'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['date'].errors['required']">
                                                  Transaction number is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Transaction number</mat-label>
                                                <input matInput placeholder="Transaction number" formControlName="transaction_number" type="text" [(ngModel)]="mpesaDetails.transaction_number" required>
                                                <mat-hint>e.g: QWUAKAL182</mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['transaction_number'].invalid && mpesaUpdateForm.controls['transaction_number'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['transaction_number'].errors['required']">
                                                  Transaction number is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Customer name</mat-label>
                                                <input matInput placeholder="Customer name" formControlName="customer_name" type="text" [(ngModel)]="mpesaDetails.customer_name" required>
                                                <mat-icon matSuffix>person</mat-icon>
                                                <mat-hint>e.g: John Doe</mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['customer_name'].invalid && mpesaUpdateForm.controls['customer_name'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['customer_name'].errors['required']">
                                                  Customer name is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Customer phone no.</mat-label>
                                                <input matInput placeholder="Customer phone number" formControlName="customer_phone_number" type="number" [(ngModel)]="mpesaDetails.customer_phone_number" required>
                                                <mat-icon matSuffix>contact_phone</mat-icon>
                                                <mat-hint>e.g: 0712345678</mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['customer_phone_number'].invalid && mpesaUpdateForm.controls['customer_phone_number'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['customer_phone_number'].errors['required']">
                                                  Amount is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Amount</mat-label>
                                                <input matInput placeholder="Amount" formControlName="amount" type="number" [(ngModel)]="mpesaDetails.amount" required>
                                                <mat-hint>e.g: 1000 </mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['amount'].invalid && mpesaUpdateForm.controls['amount'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['amount'].errors['required']">
                                                  Amount is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-lg-4 rounded padding-2">
                                            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                                                <mat-label>Bank amount</mat-label>
                                                <input matInput placeholder="Amount transferred to bank" formControlName="amount_transferred_to_bank" type="number" [(ngModel)]="mpesaDetails.amount_transferred_to_bank" required>
                                                <mat-icon matSuffix>local_atm</mat-icon>
                                                <mat-hint>e.g: 2000</mat-hint>
                                              </mat-form-field> 
                                              <div *ngIf="mpesaUpdateForm.controls['amount_transferred_to_bank'].invalid && mpesaUpdateForm.controls['amount_transferred_to_bank'].touched" class="alert alert-danger">
                                                <div *ngIf="mpesaUpdateForm.controls['amount_transferred_to_bank'].errors['required']">
                                                  Bank amount is required
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button class="btn margin btn-sm btn-outline-info btn-dark" type="submit">Update log</button>
                                    </div> 
                                </form> 
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-sm-2"></div>
    </div>
<app-footer></app-footer>