

<div id="" class="rounded"><br>
    
  <form #gasP3LogForm="ngForm" class="form padding rounded color-two bg-light shadow" (ngSubmit)="addLog(gasP3LogForm.value)">
      <h2 class="text-center margin-top">{{pumpThree.pump_name}} </h2>
      <h6 class="text-center">Add Gas Log details</h6>
      <div class="row hide">
          <div class="col-lg-6 rounded padding-2">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Fuel</mat-label>
                  <input matInput name="fuel" #fuel="ngModel" ngModel type="number" [(ngModel)]="info.id">
                </mat-form-field> 
                
          </div>
          <div class="col-lg-6 rounded padding-2">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Pump</mat-label>
                  <input matInput name="pump" #pump="ngModel" ngModel type="number" [(ngModel)]="pumpThree.id" required>
                </mat-form-field> 
                
          </div>
          <div class="col">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 rounded padding-2">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Date</mat-label>
                  <input matInput placeholder="Date" name="date" #date="ngModel" ngModel type="date" required>
                  <mat-icon matSuffix>date</mat-icon>
                  <mat-hint><span *ngIf="!errDate">e.g <strong>02/22/2022</strong></span> <span *ngIf="errDate" class="bold-red">{{errDate}}</span></mat-hint>
                  <mat-error *ngIf="date.hasError('required') || date.pristine">
                    Date is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
          </div>
          
          <div class="col-lg-6 rounded padding-2">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>EOD reading</mat-label>
                  <input matInput placeholder="End of day reading" #eod_reading_lts="ngModel" ngModel name="eod_reading_lts" type="number" required>
                  <mat-hint><span *ngIf="!errEOD">e.g <strong>11223344.55</strong></span> <span *ngIf="errEOD" class="bold-red">{{errEOD}}</span></mat-hint>
                  <mat-error *ngIf="eod_reading_lts.hasError('required') || eod_reading_lts.pristine">
                    End Of Day reading is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
          </div>
      </div>
      <div class="form-group">
          <button class="btn margin btn-sm btn-outline-success btn-light" type="submit" onclick="toggleLogForm()" (click)="closeForm()" [disabled]="gasP3LogForm.invalid">Log</button>
      </div> 
  </form> 
</div>