<div *ngIf="mpesa_logs">
  <div class="card margin-top color-two" *ngFor="let mpesa of mpesa_logs">
                     
    <h5 class="card-header text-center">{{mpesa.date}}</h5>
    <div class="card-body" >
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Transaction no.</th>
                    <th scope="col">Customer name</th>
                    <th scope="col">Customer phone number</th>
                    <th scope="col">Amount</th>
                    <th scope="col" *ngIf="mpesa.amount_transferred_to_bank">Bank amount</th>
                    <th scope="col">Cumulative amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>{{mpesa.transaction_number}}</td>
                    <td>{{mpesa.customer_name}}</td>
                    <td>{{mpesa.customer_phone_number}}</td>
                    <td>{{mpesa.amount}}</td>
                    <td *ngIf="mpesa.amount_transferred_to_bank">{{mpesa.amount_transferred_to_bank}}</td>
                    <td>{{mpesa_cumulative}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
      
    <div class="card-footer">
        <small>Logged by {{mpesa.user.username}} | <a type="button" class="btn btn-light btn-outline-primary btn-sm" routerLink="/mpesa-details/{{mpesa.id}}">Details</a> </small>
    </div>
    </div>
    
</div>

<div *ngIf="mNull">
  <div class="bg-light shadow rounded padding-2">
      <h2 class="text-center">Mpesa</h2>
      <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-5">
              <span (click)="close()" style="float:right;" type="button" class="btn btn-light btn-outline-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="card color-one">
            <div class="card-body">
                <p class="card-text">Your mpesa logs will appear here.</p>
                <p class="card-text"><a (click)="toggleMpesa()" type="button" class="btn btn-sm btn-light btn-outline-dark">Record mpesa logs now?</a></p>
            </div>
            
        </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
        
        
        <div *ngIf="show">
            
          <app-no-mpesalogs></app-no-mpesalogs>
        </div>
      
          
      </div>
  </div>
