<div class="card margin-top color-two" style="margin:1%;border-bottom: 5%;border-color:white;" *ngFor="let mpesa of mpesa_logs">
                     
    <h5 class="card-header">{{mpesa.date}}</h5>
    <div class="card-body" >
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Transaction no.</th>
                    <th scope="col">Customer name</th>
                    <th scope="col">Customer phone number</th>
                    <th scope="col">Amount</th>
                    <th scope="col" *ngIf="mpesa.amount_transferred_to_bank">Bank amount</th>
                    <th scope="col">Cumulative amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>{{mpesa.transaction_number}}</td>
                    <td>{{mpesa.customer_name}}</td>
                    <td>{{mpesa.customer_phone_number}}</td>
                    <td>{{mpesa.amount}}</td>
                    <td *ngIf="mpesa.amount_transferred_to_bank">{{mpesa.amount_transferred_to_bank}}</td>
                    <td>{{mpesa_cumulative}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
      
    <div class="card-footer">
        <small>Logged by {{mpesa.user.username}} | <a type="button" class="btn btn-dark btn-outline-primary btn-sm" href="">Details</a> | <a href="#mpesaForm"><button class="margin btn btn-sm btn-outline-primary btn-dark" type="button" onclick="toggleMPesa()">Add new?</button></a></small>
    </div>
    
</div>