/* You can add global styles to this file, and also import other style files */

@import '~angular-notifier/styles.css';

.hide{
    display:none;
}

.margin-top{
    margin-top:1%;
}
.margin-top2p5{
    margin-top:2.5%;
}