<br><br>
    <div class="container-fluid">
        <div class="row rounded padding color-four">
            <div id="" class="border color-two margin padding"><br>
                <h2 class="text-center">Add Mpesa logs</h2>
                <app-add-mpesa-log></app-add-mpesa-log>
            </div>

            <div class="col-md-6 rounded border color-two">
                <br>
                <app-mpesa-logging-instructions></app-mpesa-logging-instructions>
            </div>
        </div>
        
        
    </div>
