<form [formGroup]="creditCardForm" (submit)="addCreditCardLog()" class="bg-light padding color-two rounded shadow">
      <div class="row">
        <div class="col hide">
          <input type="number" formControlName="fuel" id="fuel" [(ngModel)]="petrolInfo.id" placeholder="fuel id">
        </div>
          <div class="col-lg-6 rounded padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Date</mat-label>
                  <input matInput placeholder="Enter date" formControlName="date" type="date" required>
                  <mat-icon matSuffix>date</mat-icon>
                  <mat-hint>e.g 13/10/2022</mat-hint>
                </mat-form-field>        
                <div *ngIf="creditCardForm.controls['date'].invalid && creditCardForm.controls['date'].touched" class="alert alert-danger">
                  <div *ngIf="creditCardForm.controls['date'].errors['required']">
                    Date is required.
                  </div>
                </div>
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Card name</mat-label>
                  <input matInput placeholder="Enter card name" formControlName="card_name" type="text" required>
                  <mat-hint>e.g JOHN ALEXA DOE</mat-hint>
                </mat-form-field>        
                <div *ngIf="creditCardForm.controls['card_name'].invalid && creditCardForm.controls['card_name'].touched" class="alert alert-danger">
                  <div *ngIf="creditCardForm.controls['card_name'].errors['required']">
                    Card name is required.
                  </div>
                </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Card number</mat-label>
                  <input matInput placeholder="Enter card number" formControlName="card_number" type="number" minlength="16" maxlength="16" required>
                  <mat-hint>e.g 1111 2222 3333 4444</mat-hint>
                </mat-form-field>  
                <div *ngIf="creditCardForm.controls['card_number'].invalid && creditCardForm.controls['card_number'].touched" class="alert alert-danger">
                  <div *ngIf="creditCardForm.controls['card_number'].errors['required']">
                    Credit card number is required.
                  </div>
                  <div *ngIf="creditCardForm.controls['card_number'].errors['min']">
                    Card number must be at least 16 digits.
                  </div>
                  <div *ngIf="creditCardForm.controls['card_number'].errors['max']">
                    Card number cannot be more than 16 digits.
                  </div>
                </div>
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Amount</mat-label>
                  <input matInput placeholder="Enter amount" formControlName="amount" type="number" required>
                  <mat-hint>e.g 1200</mat-hint>
                </mat-form-field>        
                <div *ngIf="creditCardForm.controls['amount'].invalid && creditCardForm.controls['amount'].touched" class="alert alert-danger">
                  <div *ngIf="creditCardForm.controls['amount'].errors['required']">
                    Amount is required.
                  </div>
                </div>
          </div>
      </div>
      <div class="row hide">
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Logged by</mat-label>
                  <input matInput formControlName="logged_by" type="text" [(ngModel)]="currentUser.username">
                </mat-form-field>   
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>User id</mat-label>
                  <input matInput formControlName="user" type="number" [(ngModel)]="currentUser.id">
                </mat-form-field>   
          </div>
          
      </div>
  
      <div class="form-group">
          <input class="btn margin btn-sm btn-outline-info btn-dark" type="submit" value="Log creditCard">
      </div>
  </form>