<form #pCreditCardForm="ngForm" (submit)="addCreditCardLog(pCreditCardForm.value)" class="bg-light padding color-two rounded shadow">
  <h6>Add Petrol C/C</h6>
      <div class="row">
        <div class="col hide">
          <input type="number" name="fuel" #fuel="ngModel" ngModel id="fuel" [(ngModel)]="petrolInfo.id" placeholder="fuel id">
        </div>
          <div class="col-lg-6 rounded padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Date</mat-label>
                  <input matInput placeholder="Enter date" name="date" #date="ngModel" ngModel type="date" required>
                  <mat-icon matSuffix>date</mat-icon>
                  <mat-hint><span *ngIf="!errDate">e.g <strong>02/22/2022</strong></span> <span *ngIf="errDate" class="alert alert-danger rounded">{{errDate}}</span></mat-hint>
                  <mat-error *ngIf="date.hasError('required') || date.pristine">
                    Date is <strong>required</strong>
                  </mat-error>
                </mat-form-field>        
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Card name</mat-label>
                  <input matInput placeholder="Enter card name" name="card_name" #card_name="ngModel" ngModel type="text" required>
                  <mat-hint><span *ngIf="!errName">e.g <strong>JOHN KURIA DOE</strong></span> <span *ngIf="errName" class="alert alert-danger">{{errName}}</span></mat-hint>
                  <mat-error *ngIf="card_name.hasError('required') || card_name.pristine">
                    Card name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>        
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6 padding-2 rounded">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Card number</mat-label>
                <input matInput placeholder="Enter card number" name="card_number" #card_number="ngModel" ngModel type="number" min="999999999999999" max="10000000000000000" required>
                <mat-hint><span *ngIf="!errNo">e.g <strong>1111 2222 3333 4444</strong></span> <span *ngIf="errNo" class="alert alert-danger">{{errNo}}</span></mat-hint>
                <mat-error *ngIf="card_number.hasError('min')">
                  Card number should be at least <strong>16 digits</strong>
                </mat-error>
                <mat-error *ngIf="card_number.hasError('max')">
                  Card number cannot be more than <strong>16 digits</strong>
                </mat-error>
                <mat-error *ngIf="card_number.hasError('required') || card_number.pristine">
                  Card number is <strong>required</strong>
                </mat-error> 
              </mat-form-field>  
        </div>
        <div class="col-lg-6 padding-2 rounded">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Enter amount" name="amount" #amount="ngModel" ngModel type="number" required>
                <mat-hint><span *ngIf="!errAmount">e.g <strong>1200</strong></span> <span *ngIf="errAmount" class="alert alert-danger">{{errAmount}}</span></mat-hint>
                <mat-error *ngIf="amount.hasError('required') || amount.pristine">
                  Amount is <strong>required</strong>
                </mat-error> 
              </mat-form-field>  
        </div>
    </div>
  
      <div class="row hide">
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>Logged by</mat-label>
                  <input matInput name="logged_by" #logged_by="ngModel" ngModel type="text" [(ngModel)]="currentUser.username">
                </mat-form-field>   
          </div>
          <div class="col-lg-6 padding-2 rounded">
              <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                  <mat-label>User id</mat-label>
                  <input matInput name="user" #user="ngModel" ngModel type="number" [(ngModel)]="currentUser.id">
                </mat-form-field>   
          </div>
          
      </div>
  
      <div class="form-group">
          <input class="btn margin btn-lg btn-outline-success btn-light" type="submit" value="Log" [disabled]="pCreditCardForm.invalid">
      </div>
  </form>