<!-- <nav id="sidebar" class="sidebar color-one">
    <div class="position-sticky color-two"><br>
        <div class="list-group list-group-flush mx-3 mt-4">
    <br><br>
            <div class="list-group-item rounded white py-2 ripple color-one">
                <img class="radius" src="https://res.cloudinary.com/benie/image/upload/v1659091140/avatar-3814049_640_lxxhz9.png" height="70" width="70" alt="">
                <div class="card padding shadow">
                    <h3 class="">{{currentUser.username}}</h3>
                <small class="x-small">{{currentUser.email}}</small>
                <h5 class="">{{currentUser.petrol_station}}</h5>
                <p><a class="" href="">Change password</a> <br> <a href="">Reset password</a></p>
                </div>
            </div>
            
            <hr>
        
            <div class="list-group-item py-2 rounded ripple color-one">
                        <p class="text-c">Add <a href="">logs?</a>  <br>
                            or <br>
                            Add <a href="">Mpesa logs</a> </p>
                
            </div>
            <hr>

        
        
            <div class="list-group-item py-2 rounded ripple color-two margin-top">
                <h6 class="text-c"><a routerLink="/incident" type="button" class="btn btn-info btn-outline-danger">Report Incident</a></h6>
            </div>
            <hr>
             <hr> -->
            <!-- <div class="list-group-item py-2 ripple center color-two rounded padding-2">
                <button class="margin white text-c btn btn-dark btn-outline-info" onclick="toggleContact()">Contact Management</button>
                <app-contact-form></app-contact-form>
            </div><br>
        </div>
    </div><br><br><br>
</nav> --> 


<nav class="menu color-two" tabindex="0">
        <div class="card card-sm padding color-one">
            <img src="https://res.cloudinary.com/benie/image/upload/v1659091140/avatar-3814049_640_lxxhz9.png" height="70" width="70" class="radius" />
            <h3 class="">{{currentUser.username}}</h3>
            <small>{{currentUser.email}}</small>
            <h5 class="">{{currentUser.petrol_station}}</h5>
            <p><a class="" href="">Change password</a> <br> <a href="">Reset password</a></p>
        </div>
  <hr>
  <div class="card card-sm color-one padding rounded">
    <p class="text-c">Add <a routerLink="/add-log">logs?</a>  <br>
        or <br>
        Add <a routerLink="/add-mpesa">Mpesa logs</a> </p>

</div>
<hr>
<div class="center rounded padding">
    <h6 class="text-c"><a routerLink="/incident" type="button" class="btn btn-info btn-outline-danger">Report Incident</a></h6>
</div>
 <hr>
<div class="padding center rounded">
    <button class="margin white text-c btn btn-dark btn-outline-info" onclick="toggleContact()">Contact Admin</button>
    <app-contact-form></app-contact-form>
</div><br><br><br><br>
</nav>