<div class="card color-two  margin-top-one">
    <h3 class="card-header color-black">{{date}}</h3>
    <div class="card-title">
        <h5 class="margin-left color-black">Announcement subject</h5>
    </div>
    <div class="card-body">
        <p class="card-text color-black">Company announcements will appear here. Stay tuned!</p>
    </div>
    <div class="card-footer">
    <small class="color-black">By Janja </small>
    </div>
</div>
<div class="card color-two  margin-top-one">
    <h3 class="card-header color-black">{{date}}</h3>
    <div class="card-title">
        <h5 class="margin-left color-black">Announcement subject</h5>
    </div>
    <div class="card-body">
        <p class="card-text color-black">Company announcements will appear here. Stay tuned!</p>
    </div>
    <div class="card-footer">
    <small class="color-black">By Janja </small>
    </div>
</div>