<div>
    <div class="card margin-top color-two">
                       
      <div class="card-body">
        <app-credit-log-card [cards]="fuelCards" [getFuelCards]="getFuelCards" [onTableDataChange]="onTableDataChange" [page]="page" [count]="count" [tableSize]="tableSize" [tableSizes]="tableSizes"></app-credit-log-card>
      </div>
      
  </div>
  
  <div>
    <div class="bg-light shadow rounded padding-2">
          <div>
            <app-no-card></app-no-card>
          </div>
        </div>
    </div>
  