

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card color-one">
        <div class="card-body">
            <p class="card-text">Your credit card logs will appear here.</p>
            <p class="card-text"><a (click)="toggleCreditCard()" type="button" class="w-50" color="accent" mat-raised-button><i class="fa-solid fa-plus"></i> Add now</a></p>
        </div>
        
    </div>
    </div>
    <div class="col-sm-2"></div>
    </div>
    <br>
    <div *ngIf="show">
      <span (click)="close()" style="float:right;"><button mat-raised-button color="warn"><i class="fa-solid fa-rectangle-xmark"></i></button></span>
        <app-add-card [currentUser]="currentUser" [fuelInfo]="fuelInfo"></app-add-card>
    </div>
    