<div id="gasReceived">
    <br><br>
  <form [formGroup]="gasForm" class="padding shadow" (ngSubmit)="gasReceived()">
    <h5 class="text-center">Add gas received</h5>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Fuel</mat-label>
                <input matInput formControlName="fuel" [(ngModel)]="gasInfo.id" required>
            </mat-form-field> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Litres received</mat-label>
                <input matInput placeholder="Enter Lts..." formControlName="litres_received" type="number" required>
                <mat-icon matSuffix>ev_station</mat-icon>
                <mat-hint>e.g: 1000</mat-hint>
              </mat-form-field> 
              <div *ngIf="gasForm.controls['litres_received'].invalid && gasForm.controls['litres_received'].touched" class="alert alert-danger">
                <div *ngIf="gasForm.controls['litres_received'].errors['required']">
                  Litres received required.
                </div>
              </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Received from</mat-label>
                <input matInput placeholder="Enter No. Plate..." formControlName="received_from" type="text" required>
                <mat-icon matSuffix>drive_eta</mat-icon>
                <mat-hint>e.g: KAA 123 T</mat-hint>
              </mat-form-field> 
              <div *ngIf="gasForm.controls['received_from'].invalid && gasForm.controls['received_from'].touched" class="alert alert-danger">
                <div *ngIf="gasForm.controls['received_from'].errors['required']">
                  Received from input required.
                </div>
              </div>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                <mat-label>Date received</mat-label>
                <input matInput placeholder="Enter date..." formControlName="date_received" type="date" required>
                <mat-icon matSuffix>date</mat-icon>
              </mat-form-field> 
              <div *ngIf="gasForm.controls['date_received'].invalid && gasForm.controls['date_received'].touched" class="alert alert-danger">
                <div *ngIf="gasForm.controls['date_received'].errors['required']">
                  Date required.
                </div>
              </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" onclick="toggleInfo()" class="btn btn-sm margin-top btn-dark btn-outline-info" [disabled]="!gasForm.valid">Submit</button>
    </div>
</form>
</div>