<form #fuelForm="ngForm" [formGroup]="fuelFormGroup">
    <input type="text" id="fuel_type" ngModel #fuel_type="ngModel" name="fuel_type" placeholder="fuel type" required formContolName="fuelType">
    <div [hidden]="fuel_type.valid || fuel_type.pristine" class="alert alert-danger">
        <p>Fuel type is required</p>
    </div>
    <input type="number" id="price_per_litre" ngModel #price_per_litre="ngModel" name="price_per_litre" placeholder="PP" required formContolName="pricePerLitre">
    <div [hidden]="price_per_litre.valid || price_per_litre.pristine" class="alert alert-danger">
        <p>Price per litre is required</p>
    </div>
    <input type="number" ngModel id="initial_litres_in_tank" #initial_litres_in_tank="ngModel" name="initial_litres_in_tank" placeholder="initial tank amount" required formContolName="initialTankAmount">
    <div [hidden]="initial_litres_in_tank.valid || initial_litres_in_tank.pristine" class="alert alert-danger">
        <p>Initial litres required</p>
    </div>
    <input type="number" ngModel id="#pumps" #pumps="ngModel" name="pumps" placeholder="pumps" required formContolName="pumps">
    <div [hidden]="pumps.valid || pumps.pristine" class="alert alert-danger">
        <p>Pumps required</p>
    </div>
    <button type="submit" onclick="toggleInfo()" class="btn btn-sm">Submit</button>
</form>