<div id="" class="rounded"><br>
    
    <form [formGroup]="logForm" class="form padding rounded color-two bg-light shadow" (ngSubmit)="addLog()">
        <h2 class="text-center margin-top">{{pumpOne.pump_name}} </h2>
        <h6 class="text-center">Add Diesel Log details</h6>
        <div class="row">
            <div class="col-lg-6 rounded padding-2">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Fuel</mat-label>
                    <input matInput placeholder="fuel" formControlName="fuel" type="number" [(ngModel)]="info.id" required>
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g: janja kip</mat-hint>
                  </mat-form-field> 
                  
            </div>
            <div class="col-lg-6 rounded padding-2">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Pump</mat-label>
                    <input matInput placeholder="pump" formControlName="pump" type="number" [(ngModel)]="pumpOne.id" required>
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g: janja kip</mat-hint>
                  </mat-form-field> 
                  
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 rounded padding-2">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" formControlName="date" type="date" required>
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g: janja kip</mat-hint>
                  </mat-form-field> 
                  <div *ngIf="logForm.controls['date'].invalid && logForm.controls['date'].touched" class="alert alert-danger">
                    <div *ngIf="logForm.controls['date'].errors['required']">
                      Date is required.
                    </div>
                  </div>
            </div>
            
            <div class="col-lg-6 rounded padding-2">
                <mat-form-field appearance="outline" class="color-one rounded shadow padding-2 full-width" style="margin-top:5%;">
                    <mat-label>EOD reading</mat-label>
                    <input matInput placeholder="End of day reading" formControlName="eod_reading_lts" type="number" required>
                    <mat-icon matSuffix>date</mat-icon>
                    <mat-hint>e.g: janja kip</mat-hint>
                  </mat-form-field> 
                  <div *ngIf="logForm.controls['eod_reading_lts'].invalid && logForm.controls['eod_reading_lts'].touched" class="alert alert-danger">
                    <div *ngIf="logForm.controls['eod_reading_lts'].errors['required']">
                      EOD reading is required.
                    </div>
                  </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn margin btn-sm btn-outline-primary btn-dark" type="submit" onclick="toggleLogForm()">Log</button>
        </div> 
    </form>  
</div>

