<div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-md-6 shadow padding-2 logInstructions">
                    <br>
                    <app-logging-instructions></app-logging-instructions>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <hr>
   
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-md-8">
                <app-fuel-received></app-fuel-received>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <hr>
        <div class="row rounded">
                

                
    
                <div id="" class="rounded text-center padding-2 col-lg-4">
                    <div class="color-two rounded padding">
                        <h2 class="text-center margin-top">Add Petrol Log details</h2> 
                        <div class="hide" id="petrolPs">
                            {{petrolInfo.pumps}}
                        </div>
                        <div *ngIf="!hideP1">
                            <app-add-petrol-pump-one></app-add-petrol-pump-one><br>
                        </div>
                        <div *ngIf="!hideP2">
                            <app-add-petrol-pump-one></app-add-petrol-pump-one><br>
                            <app-add-petrol-pump-two></app-add-petrol-pump-two><br>
                        </div>
                        <div *ngIf="!hideP3">
                            <app-add-petrol-pump-one></app-add-petrol-pump-one><br>
                            <app-add-petrol-pump-two></app-add-petrol-pump-two><br>
                            <app-add-petrol-pump-three></app-add-petrol-pump-three><br>
                        </div>
                        <div *ngIf="!hideP4">
                            <app-add-petrol-pump-one></app-add-petrol-pump-one><br>
                            <app-add-petrol-pump-two></app-add-petrol-pump-two><br>
                            <app-add-petrol-pump-three></app-add-petrol-pump-three><br>
                            <app-add-petrol-pump-four></app-add-petrol-pump-four>
                        </div>
                    
                
                    
                
                    
                
                    
                    
                    </div>
                    
                    
                
            
                <div id="" class="rounded text-center padding-2 col-lg-4">
                    <div class="color-two rounded padding">
                        <h2 class="text-center margin-top">Add Diesel Log details</h2> 
                    <button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleDieselPumpOne()">Pump One</button><button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleDieselPumpTwo()">Pump Two</button> <br>
            <button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleDieselPumpThree()">Pump Three</button><button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleDieselPumpFour()">Pump Four</button>
                    </div>
                    
            <div>
                <div id="dieselPumpOne">
                    <app-add-diesel-pump-one></app-add-diesel-pump-one>
                </div>
                <div id="dieselPumpTwo">
                    <app-add-diesel-pump-two></app-add-diesel-pump-two>
                </div>
                <div id="dieselPumpThree">
                    <app-add-diesel-pump-three></app-add-diesel-pump-three>
                </div>
                <div id="dieselPumpFour">
                    <app-add-diesel-pump-four></app-add-diesel-pump-four>
                </div>
            </div>
                </div>
            
                <div id="" class="rounded text-center padding-2 col-lg-4">
                    <div class="color-two rounded padding">
                        <h2 class="text-center margin-top">Add Gas Log details</h2> 
                    <button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleGasPumpOne()">Pump One</button><button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleGasPumpTwo()">Pump Two</button><br>
            <button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleGasPumpThree()">Pump Three</button><button class="btn btn-sm btn-dark margin btn-outline-info" onclick="toggleGasPumpFour()">Pump Four</button>
                    </div>
                    

       
        
            
            <div>
                <div id="gasPumpOne">
                    <app-add-gas-pump-one></app-add-gas-pump-one>
                </div>
                <div id="gasPumpTwo">
                    <app-add-gas-pump-two></app-add-gas-pump-two>
                </div>
                <div id="gasPumpThree">
                    <app-add-gas-pump-three></app-add-gas-pump-three>
                </div>
                <div id="gasPumpFour">
                    <app-add-gas-pump-four></app-add-gas-pump-four>
                </div>
            </div>
                </div>
            </div>
            

            
        
        
</div>
<br><br><br><br><br><br><br>
<!-- <app-footer></app-footer> -->