<div class="container-fluid">
        <br>
        <div class="text-center margin">
            <!-- <button id="regFuel" onclick="toggleFuelReg()" class="btn btn-lg btn-dark btn-outline-primary margin">Add Fuel Type</button><br> -->
            <button id="petrol" onclick="togglePetrol()" class="btn btn-sm btn-dark btn-outline-primary">Log Petrol</button>
            <button id="fuelOrder" onclick="toggleOrder()" class="btn btn-sm btn-dark btn-outline-primary margin-right">New Petrol Order</button>
            <button id="diesel" onclick="toggleDiesel()" class="btn btn-sm btn-dark btn-outline-primary">Log Diesel</button>
            <button id="dieselOrder" onclick="toggleDieselOrder()" class="btn btn-sm btn-dark btn-outline-primary margin-right">New Diesel Order</button>
            <button id="gas" onclick="toggleGas()" class="btn btn-sm btn-dark btn-outline-primary">Log Gas</button>
            <button id="dieselOrder" onclick="toggleGasOrder()" class="btn btn-sm btn-dark btn-outline-primary">New Gas Order</button>
        </div>
        <div class="row rounded color-four padding">
            <div class="col-md-6">
                <div id="fuelReceived" class="rounded text-center color-two border col-md-5"><br>
                    <h2 class="text-center margin-top">Add Petrol Received information</h2> 
                    <app-petrol-received-form></app-petrol-received-form>
                </div>
    
                <div id="dieselReceived" class="rounded text-center color-two border col-md-6"><br>
                    <h2 class="text-center margin-top">Add Diesel Received information</h2> 
                    <app-diesel-received-form></app-diesel-received-form>
                </div>
    
                <div id="gasReceived" class="rounded text-center color-two border col-md-6"><br>
                    <h2 class="text-center margin-top">Add Gas Received information</h2> 
                    <app-gas-received-form></app-gas-received-form>
                </div>
    
                <div id="petrolLog" class="rounded text-center color-two border col-md-6">
                    <h2 class="text-center margin-top">Add Petrol Log details</h2> 
                    <app-add-log>
                </div>
            
                <div id="dieselLog" class="rounded text-center color-two border col-md-6">
                    <h2 class="text-center margin-top">Add Diesel Log details</h2> 
                    <app-add-diesel-logform></app-add-diesel-logform>
                </div>
            
                <div id="gasLog" class="rounded text-center color-two border col-md-6">
                    <h2 class="text-center margin-top">Add Gas Log details</h2> 
                    <app-add-gas-logform></app-add-gas-logform>
                </div>
            </div>

            <div class="col-md-6 rounded border color-two">
                <br>
                <app-logging-instructions></app-logging-instructions>
            </div>
        </div>
        
        
</div>
