<p><a type="button" class="btn btn-sm btn-dark btn-outline-info" type="button" (click)="reportWarn();">Update log? </a> <small *ngIf="logs.first_logged != logs.last_edited"> >>> Last edited on {{logs.last_edited}}</small></p>
<div *ngIf="!closed">
    <form class="bg-dark" *ngIf="updateConfirmed;" [formGroup]="form" (ngSubmit)="updateLogDetails()">
      <span style="float:right;" (click)="toggleUpdateForm()" type="button" class="btn btn-danger"><i class="fa-solid fa-rectangle-xmark"></i></span>
        <div class="row">
            <div class="col">
                <label for="date" class="white">Log date</label>
                <input type="date" #date class="Aj form-control" id="date" formControlName="date" placeholder="Date" [(ngModel)]="logs.date" required>
                
            </div>
            <div class="col">
                <label for="eod_reading_lts" class="white">End of day reading</label>
                <input type="number" #eod_reading_lts class="Aj form-control" id="eod_reading_lts" formControlName="eod_reading_lts" placeholder="Eod reading (lts)" [(ngModel)]="logs.eod_reading_lts" required>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn margin btn-sm btn-outline-primary btn-dark" type="submit">Update log</button>
        </div> 
    </form>
  </div>